[2017-05-31 11:36] stephens999 opened #1 "should have a way to name conditions"

[2017-05-31 11:36] stephens999 opened #2 "implement estimation of correlated error matrix"

[2017-06-01 02:18] stephens999 commented on #2
this requires
- ability to add a covariance matrix during set_mash_data
- changing of calc_lik_matrix in likelihood.R
- changing of compute_posterior_arrays in posterior.R

[2017-06-01 14:47] stephens999 commented on #2
also need to consider changing the ed wrapper to allow for covariances. (maybe a separate issue)

[2017-06-02 14:49] stephens999 opened #3 "Write bottleneck computations in Rcpp"
@pcarbo I think this should be fairly straightforward. Maybe you can look into it?

I think we would want to implement:
`calc_lik_vector` and `calc_relative_lik_matrix` from https://github.com/stephenslab/mashr/blob/master/R/likelihoods.R
[note that strictly we probably only need implementations for log=TRUE if that helps]

`posterior_cov`, `posterior_mean` and `compute_posterior_arrays`
(maybe al

[2017-06-02 15:05] pcarbo commented on #3
The likelihood calculations should be relatively straightforward.

However, the `posterior_mean` and `posterior_cov` computations involve matrix computations; in those cases, there is relatively little to be gained by implementing them using Rcpp because R already uses fast routines for matrix operations. In `varbvs`, for example, all the matrix operations (multiplications, determinants, *etc*) ar

[2017-06-02 15:10] stephens999 commented on #3
are you sure?
https://stackoverflow.com/questions/18349053/fastest-way-for-multiplying-a-matrix-to-a-vector

from memory (which is fallible, but consistent with the above link),
when I looked at this, I also got faster performance using Rcpp.
Here is the code I used in fast-ash
(https://github.com/stephenslab/fast-ash/blob/master/analysis/mmult.cpp)
[code]

[2017-06-02 17:57] pcarbo commented on #3
@stephens999 Your example isn't matrix multiplication, but I would be shocked if Rcpp can do better than BLAS. I'll cook up an empirical comparison.

[2017-06-02 18:19] pcarbo commented on #3
@stephens999 I implemented a [small R script](https://github.com/pcarbo/pcarbo/blob/master/R/demo.multiply.R) to compare standard matrix-vector multiplication in R. This is the result I obtained on my MacBook Pro:

[code]

So actually the `Matrix` package is fastest, with a roughly 7x speedup over Rcpp.

I'm sure there are non-standard matrix operations that could be implemented faster in `Rcpp`,

[2017-06-04 20:15] stephens999 commented on #3
thanks for checking this - it is good to know

On Fri, Jun 2, 2017 at 1:19 PM, Peter Carbonetto <notifications@github.com>
wrote:

[2017-06-06 23:43] gaow opened #4 "Optimizing matrix calculations"
@kkdey and I were looking at issues running `mashr` on an input of size 16K * 53 via canonical covariance matrix. Long story short is that for data of this scale we need to re-engineer calculations after `mixIP` stage. The longer version goes with this code to reproduce what we've seen:

[code]
Computational resource footprint of 3 stages of `mash` function (1. before `mixIP`, 2. `mixIP` and 3. af

[2017-06-07 00:03] gaow commented on #4
@pcarbo another test is perhaps to book a huge memory node from RCC, set `ulimit` to some infinite value, and see how much memory it actually uses (assuming `ulimit` can fix the complaint from R)?

[2017-06-07 01:01] pcarbo commented on #4
Thanks @gaow @kkdey for looking into this issue. Can you provide me with the commit id of the `mashr` repository you used, and post the output of running `sessionInfo()`?

Also, could you create a similar example that could conceivably run on a laptop (e.g., with maximum memory usage of 4 GB)? This will be more convenient for me for working through the code on my computer. Thanks.

[2017-06-07 01:15] gaow commented on #4
Sure @pcarbo the commit id is 126fd031718bccaf976a8d904fe4ca57e2bde97f and session info:
[code]
I think perhaps we can start with this setting below and see how it works on your laptop? eg:

[code]
This computation is trivial and takes less than 1min on my computer. I guess you can scale it up as you see fit until the problem is more evident to observe?

[2017-06-07 04:19] stephens999 commented on #4
the large memory assignments that I am aware of are in
`compute_posterior_arrays`.
Do you think this is the problem? Can you tell at what line the assignment is failing?

We are assigning 5 large arrays in this function.
``
post_mean=array(NA,dim=c(J,P,R))
  post_mean2 = array(NA,dim=c(J,P,R)) #mean squared value
  post_var = array(NA,dim=c(J,P,R)) #mean squared value
  #post_pos=array(NA,dim=c(J,

[2017-06-07 04:51] stephens999 commented on #4
actually the obvious solution is to do the computations one effect at a time (ie for j=1,\dots, J).
So that you never need the J by P by R arrays.

[2017-06-07 12:56] gaow commented on #4
I think your back of the envelope calculation is consistent with what I've observed; and your suggestion seems good idea if it is not significantly slower. I can take a look tomorrow if @pcarbo does not have a chance to fix it today :)

[2017-06-07 13:37] stephens999 commented on #4
great!

On Wed, Jun 7, 2017 at 6:56 AM, gaow <notifications@github.com> wrote:

[2017-06-07 21:48] pcarbo commented on #4
@gaow @stephens999 I think it might be helpful to think more strategically about how to (1) reduce memory requirements, and (2) speed up the computations since I'm assuming Gao will soon want to apply `mashr` quickly to large data sets. (See also Issue #3.)

As a starting point, I created a new branch `dev`, and a script `test_mashr.R` which we can use to profile computation (memory + time) using

[2017-06-08 15:19] gaow commented on #4
Thank you @pcarbo. A more strategic approach would benefit the long run than a monkey patch from a couple of hours coding. I too want to see how we can improve speed stage 1&3. Looking forward to discussing it in person tomorrow!

[2017-06-09 22:09] gaow commented on #4
In general there are two type of improvements we can do: 1) improve the code and 2) improve the formulation / math.

Yesterday @stephens999 pointed out to me the speed bottle-neck in likelihood calculation and discussed possible ideas for 2) focusing on inverse calculation. Today @pcarbo and I re-discussed that conversation. We think even if we can improve the inverse part, there are still potenti

[2017-06-09 22:27] pcarbo commented on #4
Thanks @gaow. I think that is a good summary. Note: I thought we decided that the order was 1, 4, 2, 3.

To clarify, my general impression is that the likelihood calculations are O(n^3), where n is the number of phenotypes/conditions. A more clever reuse of calculations could hypothetically reduce this to O(n^2), so a reduction in a factor of O(n). I think that starting with a C++ implementation w

[2017-06-10 03:13] gaow commented on #4
I've implemented the likelihood calculation in C++/Armadillo. For `test_mash.R` the computational time of likelihood calculation reduced from 37.07 sec to 0.35 sec, a 100 times speed improvement and 50% memory usage! The result agree at least on this data-set. Note that we have not used openmp: we may gain more if we do.

[code]

@pcarbo I'm not sure why there is an error message in the bottom but

[2017-06-10 03:18] gaow commented on #4
Oh @pcarbo in order to reproduce my new code you need to pull from `dev`, then run `make` to build / install the package. You can look at the `Makefile` and decide what is the best way to distribute it via `install_github()`. Also `src/utils.hpp` is the workhorse in C++; the `src/main.cpp` is the Rcpp interface, and the entire armadillo library was copied to `src/include` without any customization

[2017-06-10 14:05] stephens999 commented on #4
wow! that is impressive.

I spent the evening trying to see how math could help.
I came to the following conclusion.

We need to compute normal likelihoods under covariance matrices
(w_l U_k + V_j) where U_k and V_j are R by R matrices and w_l is a scalar.
[l =1,\dots,L; k=1,\dots,K; j=1,\dots,p]

The naive calculation is o(R^3) for each l,k,j combination, so total
is LKpR^3

i) in the general cas

[2017-06-10 14:28] pcarbo commented on #4
@gaow Great work! Yesterday, I predicted a 100x speedup, so I was pretty close! :) I will look at your implementation on Monday. I will also look into converting your code to `Rcpp` + `Armadillo` from `RcppArmadillo` (if it is indeed useful to do so).

@stephens999 I agree with your general assessment. One other consideration is that we may decide to make changes the model depending on the GTEx re

[2017-06-10 23:18] gaow commented on #4
Thank you @stephens999 and @pcarbo. I've also computed posterior in C++ -- perhaps not the most efficient coding (direct inverse used, also not happy with my vector version of normal CDF) but via `test_mash.R` the computation time dropped from 46 sec to 0.7 sec, and the memory dropped from 147.05MB to 2.78MB. See below:

[code]

So we may benefit a lot from this simple code conversion. @pcarbo ple

[2017-06-12 18:36] stephens999 opened #5 "issue with R=1"
mashr should work with R=1, but currently does not (at least not dev branch):

[code]

 - Computing 10 x 12 likelihood matrix.
 - Likelihood calculations allocated 0.00 MB and took 0.01 seconds.
 - Computing 10 x 12 likelihood matrix in C++.
 - Likelihood calculations via Armadillo allocated 0.00 MB and took 0.00 seconds.
[1] "Is result equal between R and C++?"
[2] "Modes of target, current: func

[2017-06-12 18:38] stephens999 commented on #5
update - this does seem to run ok on master branch

[2017-06-13 01:27] gaow commented on #5
I ended up implementing separate univeriate version for likelihood / posterior because it seems a waste to do all those matrix operations on 1X1 matrix.  On your toy example results agree between R and C++:

[code]
Would be interesting to see how it compares in speed with `ashr`.

[2017-06-13 01:44] gaow opened #6 "Check for missingness in input data"
in `set_mash_data`, we should check for missingness and complain if things are missing.

[2017-06-13 03:05] pcarbo commented on #5
@gaow I think the point is that `ashr` with normal likelihood and prior is a special case of `mashr`, so if the result is not the same, then this indicates that there is a bug somewhere.

[2017-06-13 21:13] pcarbo opened #7 "Document setup, installation and package updating steps in README"
Some of this info was originally in a `Makefile`, but it would be better to update this info, and move it to the README.

[2017-06-14 14:20] gaow opened #8 "` profmem::profmem` function hides error message from profiled routine"
This behavior is inconvenient because it hides error status of the function, causing downstream procedures to fail and display error messages not directly relevant to where it actually fails. If there is no way to show error message and quit properly when `profmem` is used, then at least we should have a `debug` switch in the function call, or, I do not mind tying it with some verbosity level.

[2017-06-14 14:21] pcarbo commented on #8
@gaow `profmem` is only being used for testing; we should remove it once we are happy with the `Rcpp` implementation.

[2017-06-14 14:22] gaow commented on #3
Converged to #4

[2017-06-14 14:22] #3 closed

[2017-06-14 14:23] gaow commented on #5
Fixed and informally tested.

[2017-06-14 14:23] #5 closed

[2017-06-14 14:29] gaow opened #9 "Formal Extreme Deconvolution wrapper"
Related to #7: move `extreme_deconv` to a separate repo. It is not likely Bovy is updating it any more, so it may warrant to create a "frozen" R version to support `mashr` (my R wrapper to Bovy is dynamic that can potentially incorporate his future changes to code). I can take a first step to set it up if @pcarbo creates a repo for it.

[2017-06-14 14:31] pcarbo commented on #9
@gaow What do you think about including the `ExtremeDeconvolution` source code inside the `mashr` package?

[2017-06-14 14:33] gaow opened #10 "SFA R package"
Related to #9 : it might be straightforward to natively support SFA the similar way we've done it for `extreme_decov`, ie, make an `sfar` package out of it, unless licensing is an issue.

[2017-06-14 14:47] gaow commented on #9
Hmm it maybe a good idea ... although it may (or may not) be some work to integrate it with our Rcpp / RcppArmadillo framework. Currently it is not done in Rcpp.

[2017-06-14 14:57] pcarbo commented on #9
@gaow Not a problem. `Rcpp` is basically just "synactic sugar" for the `.Call` interface, which is what `ExtremeDeconvolution` uses. My varbvs package uses `Rcpp` and directly calls the `.Call` interface.

In any case, I suggest not making this a high priority right now until we are comfortable with the initial implementation using `Rcpp`.

[2017-06-14 15:26] stephens999 commented on #9
I'm fine with putting it in its own repo to make installation easier etc. I'll just note that our use of ED in mash may ultimately be superseded by other approaches. So not worth investing *too* much time in right now.

[2017-06-14 15:29] stephens999 commented on #10
it could be interesting. However, I hope we might make flashr our default approach here instead of SAF. Only downside is that flashr is currently potentially slower? (haven't checked carefully
but seems inevitable). flashr has the advantage of being
more accurate, also already in R, and I am hopeful we can speed it up.

[2017-06-14 15:47] pcarbo commented on #9
I agree.

[2017-06-15 02:10] gaow commented on #8
Made `profmem` optional anyways with default `false`, because it has computational overhead.

[2017-06-15 02:10] #8 closed

[2017-06-15 16:34] gaow opened #12 "Package code improvement suggestions"
From @pcarbo A few small suggestions for improving the R package code as we move forward:

+ Makefiles are typically not included in R packages, so it might be confusing to have one. Instead, I put the instructions in the README---feel free to elaborate on them as needed.

+ For testing different implementations (e.g., R vs. Rcpp), I typically try to have one interface (i.e., function), then have

[2017-06-15 17:54] gaow commented on #12
Related to input check, @stephens999 suggest that  we should require V is positive definite. We should implement a check on that

[2017-06-15 18:06] pcarbo commented on #12
@gaow The fastest check is using `chol`.

[2017-06-15 23:03] gaow opened #14 "Prune data corresponding to small posterior weights"
An obvious optimization for posterior calculation is that after we obtain `posterior_weights` we prune the P list removing trivial weights and their corresponding data, before moving on to next steps of computation. It could save us a lot potentially.

[2017-06-15 23:03] gaow opened #15 "Import diagnostic plots to mashr from ashr"
Will work with @LSun on it when I get to that point.

[2017-06-16 00:16] pcarbo commented on #14
@gaow I agree.

[2017-09-19 13:41] snaqvi1990 opened #17 "Various questions"
Hello,

Firstly thank you for this great tool. I have a couple of questions/issues. If it is easier I can also create new issues for each, but I'll just list them here for now.

1) What is the best way to deal with "missing data" when using mashr? I.e., genes expressed in one tissues but not another. I have tried setting the betahat and sebetahat in those missing cases to 0, but then I get the fol

[2017-09-19 14:39] stephens999 commented on #17
for missing data try setting the standard error to infinity not 0

[2017-09-19 15:32] stephens999 commented on #17
for 2, this should be in the ?cov_canonical help

[2017-09-19 15:38] stephens999 opened #18 "row and column names"
mashr should retain row and column names of B and output
should play nicely with them...

[2017-09-19 15:39] stephens999 opened #19 "missing data"
we need to implement and test mashr with missing data (= infinite standard error)

[2017-09-19 15:39] #14 closed

[2017-09-19 18:15] snaqvi1990 commented on #17
Re: 1) and missing data: when I set the missing beta to 0 and missing SE to infinity and run mashr, I get the following:

error: chol(): decomposition failed
 - Likelihood calculations took 74.93 seconds.
 - Fitting model with 477 mixture components.
 - Model fitting took 8.63 seconds.
 - Computing posterior matrices.

error: inv_sympd(): matrix is singular or not positive definite
Error in calc_p

[2017-09-19 18:24] stephens999 commented on #17
yes, thinking more about it this is not suprising. Try setting the missing SE to something "big".
choose something big compared with the other standard errors (10? 100?)

[2017-09-19 18:34] snaqvi1990 commented on #17
whoops, I think I deleted my earlier reply by accident. In any case, yes, setting missing SE to 10/100 (my max SE is 1.6 so these are big I suppose) works. I will play around with the exact SE to set, but for these relatively large SEs, the results are pretty invariant to changes in the missing SEs. Thanks!

[2017-09-21 13:58] snaqvi1990 commented on #17
update on this: while setting SE to large values allows mashr to run, I've found instances where the missing data instances have low LFSRs in the final output, presumably because they do have significant effects in other conditions. The results still make sense if I just ignore these instances, but this ultimately seems somewhat non-optimal

[2017-09-26 02:57] stephens999 commented on #17
I think it may be difficult to do better than this.

If the missing values are "missing at random" then this behavior seems entirely appropriate -
even missing cases could have small lfsr based on the observed data at other conditions.

If they are not missing at random then it becomes hard to provide a general solution...
so the practitioner will have to decide whether to ignore them (as you sugg

[2017-10-02 18:00] gaow opened #20 "Separate fitting the hierarchical model and computing posteriors in `mash` call"
Currently `mashr::mash` computes weights and posterior quantities in one function call. It makes it difficult when I only want to use a subset of "random null" data to "train" the mash model, but apply the model to another subset of data, or even to all the data.

Should we propose a new interface for this goal? Or should we permanently replace `mashr::mash` with a two-step procedure?

[2017-10-02 18:06] stephens999 commented on #20
you can use the estimates from a previous fit (`m`) on new data by `mash(newdata, g=m$g, fixg=TRUE)`

[2017-10-02 18:08] stephens999 commented on #20
or something like that... we should add an example!

[2017-10-02 18:09] gaow commented on #20
I see, good pointer. But should we implement an option to skip computing posterior if for a first round I only need the weights?

[2017-10-02 18:14] stephens999 commented on #20
maybe using `outputlevel` ?

On Mon, Oct 2, 2017 at 1:09 PM, gaow <notifications@github.com> wrote:

[2017-10-02 18:55] gaow commented on #20
Ok ... so you suggest we use `outputlevel = 0` to trigger computation for loglik / weights, `outputlevel = 1` for complete results including posterior, and `outpputlevel = 99` for everything including debug quantities? I can change the code if we have an agreement here.

Also the parameter `fix_g` looks a bit redundant to me -- I did not look into every appearance of `g`, but what's the harm of we

[2017-10-02 19:44] gaow commented on #20
Ok I can see the appeal to have `fixg` as a separate option. Anyways I've implemented the `outputlevel` as proposed in the previous thread, with default set to `1`. With that I was able to complete the analysis. I'm going to push it anyways and leave the ticket open for additional comments.

[2017-10-03 15:48] gaow opened #21 "`cov_ed` changes input matrix names"
After ED the list names become:

[code]
This is not very informative for downstream analysis. Should retain the original names by appending `_ED` to it, eg, `sfa5_1_ED`, `tSFA_ED`.

[2017-10-03 16:09] #21 closed

[2017-10-03 16:13] gaow commented on #10
Related to #17 :

At the very list the procedure to run SFA is [demonstrated here](http://stephenslab.github.io/gtex-eqtls/analysis/20171002_MASH_V8.html#SFA) with output saved as RDS file, and using the results in mashr is [demonstrated here](http://stephenslab.github.io/gtex-eqtls/analysis/20171002_MASH_V8.html#Create-and-refine-multi-rank-covariance-matrices).

[2017-10-03 17:19] #18 closed

[2017-10-06 00:43] gaow opened #22 "Option for EZ model"
It does not seem from the main interface that we have an option to ask for the EZ model as used in the mash paper:

https://github.com/stephenslab/mashr/blob/master/R/mash.R#L26

Am I missing something? If not, then we should make this ticket a feature request.

[2017-10-06 01:26] stephens999 commented on #22
I checked. i think you are not missing anything - i did not implement this feature.

[2017-10-24 16:25] gaow commented on #22
Here I propose an interface for the requested feature: we additionally add Z score to `set_mash_data`,
[code]
Consequently:
1. `data := set_mash_data(...)`. If `data$Z` is not null we'll use `data$Z` for prior and mixture model steps, and report posterior in original scale. That is, providing `data$Z` essentially triggers EZ model.
2. We allow `data$Bhat` and `data$Shat` be `null` when `data$Z` is

[2017-10-24 17:44] stephens999 commented on #22
I prefer to keep data as Bhat, Shat, and specify model used (EZ or not) when calling mash.

The data are the data. Don't want to confuse the data and the model.

In ash we have a parameter alpha that controls the model (EZ etc)

[2017-10-24 17:53] gaow commented on #22
Okey ... but data is also relevant because we'll need to input Z score, unless we are cool setting it to `Bhat/Shat` -- is that what you suggest?

[2017-10-24 19:26] gaow commented on #22
Just took a look at `ashr` code. Essentially it is also about `set_data` but is done inside `ash.workhorse`

https://github.com/stephens999/ashr/blob/master/R/ash.R#L335

So the "model" is also specified when data is initialized. In `ash` it is not called "model" either. Since `set_mash_data` is outside `mash` in `mashr`, we will have to "confuse" model with data if we do it the `ash` way.

@steph

[2017-10-24 22:55] stephens999 commented on #22
Ok, so maybe the ashr interface is not best to copy in that regard!

[2017-10-24 23:05] stephens999 commented on #22
I think you raise a good point in t vs z scores. We could allow a df parameter to be specified in 'set_mash_data'. But I think there some questions on what models we are fitting because we can only actually got the normal likelihood, not t likelihood

[2017-10-24 23:07] stephens999 commented on #1
@gaow does mashr now respect the column names of bhat? Is it documented in a vignette? If so maybe you can close this?

[2017-10-24 23:08] stephens999 commented on #4
@gaow do you think this is done?

[2017-10-25 00:08] gaow commented on #1
I do not think I've changed the vignette but the names of bhat should be used. I'll make sure vignettes is up-to-date after #22 and close this issue then.

[2017-10-25 00:09] #4 closed

[2017-10-25 02:15] gaow commented on #22
So even though we have `df` we would still get a p-value and convert it to z-score ... and I think in that case `df` option make it conceptually even less clear (than my initial proposal that provides Z).

[2017-10-25 13:09] gaow opened #23 "More formal performance benchmarks to decide when to adopt R or CPP version"
Currently mashr has implementations of some chunks of computations in R AND CPP both, a relic at prototyping stage. Though the default is CPP for now, we have not formally established under which situation CPP code will way out-perform R codes -- considering much as been done also on the algebra end to optimize computations.

To make the code less complicated to maintain and add to, we might want

[2017-10-25 13:12] gaow commented on #22
How about:

1. allow users to input `Z` with `set_mash_data`, optionally
2. add parameter `alpha` to `mash` call to specify choice of model -- just like in `ash`
3. add an additional, private function `reset_mash_data` to adjust data based on model choice. If `Z` was not provided, then we use `Bhat/Shat` to approximate it, with a warning message displayed.

[2017-10-25 18:31] stephens999 commented on #22
leave 1 for now. They can always set Bhat=Z and Shat = 1 if they want (for now).

2. sounds good

I dont' understand 3. I suspect we can use set_mash_data within `mash` to accomplish 2....

[2017-10-25 18:50] gaow commented on #22
3 would not make sense without 1. If we leave 1 for now we can use set_mash_data within `mash()`. But then there is no way to re-scale the effect size in posterior calculation because we've lost the Shat info -- this is what initialized this discussion.

[2017-10-25 23:24] stephens999 commented on #22
Here is my suggestion. We add a parameter `df` (matrix, or scalar if every entry is the same) to `set_mash_data`.

Then internally we set Shat in mash data object to "Shat-effective" (Shat-eff)
which is defined as follows:
Bhat/Shat-eff has the same p value under a z test as Bhat/Shat has under a t test with df degrees of freedom.

In other words, Shat-eff = Bhat/Z where Z is the Z score correspon

[2017-10-25 23:26] stephens999 commented on #22
I could imagine it being useful to have an interface that provides the functionality that the user provides `Bhat` and a `pvalue` to `set_mash_data`, and we do a similar thing (work out an effective `Shat` value for them)

[2017-10-25 23:31] gaow commented on #22
Ok so we essentially enhance `set_mash_data` without complicating it with model, and we use `alpha` at `mash` call to specify EZ model? I agree with providing `p-value`. I thought `df` is a bit misleading but I can see that effectively we are good after Shat-eff adjustment.

I guess now the only question remains is what happens if users did not provide `df` nor `p-value` but ask for EZ model?

[2017-10-26 00:19] stephens999 commented on #22
If they don't provide df I think default is to assume normal. Ie df infinity. But that is true whatever model they choose, not only EZ.

[2017-10-31 14:17] #1 closed

[2017-10-31 14:23] gaow opened #24 "Vignette needs updates"
Additional information to put in:
- Explain EZ and EE model
- Demonstrate model fitting and posterior calculations separately
- Explain posterior quantities

Although what's kind of holding it back on my end is the need to install / use RStudio, or figure out a way (a `Makefile`) to get away with using Emacs, to properly generate the HTMLs ...

[2017-10-31 14:39] gaow commented on #1
I do not think `ashr` respect column names -- because when I let simulation function generate bhat with conditions / effects , this unit test complains:

[code]

So, should I revert my changes to simulation function or change unit test to make this pass, or to open a ticket in `ashr` like this one?

[2017-10-31 15:03] #12 closed

[2017-10-31 15:05] gaow commented on #7
@pcarbo I think you've removed my `Makefile` and put these info in README -- please confirm and close this issue. Thanks!

[2017-10-31 15:10] #7 closed

[2017-11-15 19:34] stephens999 opened #28 "mash_set_data vs set_mash_data"
I feel we should switch this function to `mash_set_data` since it is more consistent with our
naming elsewhere (including in flashr for example)

I'm OK to have both functions, with one as an alias for the other?

[2017-11-16 04:39] gaow commented on #28
In languages such as Python and C/C++ where the notion of namespace is more clear, we can just name it `set_data` and call via `mash.set_data` for Python, `mash::set_data` for C++. R is more sloppy with this. So manually add "namespace" as part of the function name, like `mash_set_data`, is perhaps the best option. It is a violation of some coding convention guideline that a function name should s

[2017-12-14 17:43] stephens999 commented on #28
@gaow can you take care of this?
replace `set_mash_data` with `mash_set_data`
make `set_mash_data` call `mash_set_data` but emit a warning that it is deprecated
 and replace `set_mash_data` in vignettes

[2017-12-14 17:44] gaow commented on #28
Good!

[2017-12-15 05:04] #28 closed

[2018-04-24 23:20] stephens999 opened #33 "vignette to illustrate correlation"
probably need a vignette to illustrate estimating the correlation of null Z scores

[2018-04-25 22:00] gaow opened #34 "Modify mash data with `est_cor`"
From @aksarkar: Behavior of [this function](https://github.com/stephenslab/mashr/blob/master/R/est_cor.R#L10) needs reconsideration because it works on `mash_data` but did not modify it, and consequently, another `mash_set_data` call has to be made to apply the change in `V`.

[2018-05-09 01:45] gaow opened #35 "log10BF goes to infinity"
Test data-set:
[mashr_issue_35.tar.gz](https://github.com/stephenslab/mashr/files/1986095/mashr_issue_35.tar.gz)

Test script:

[code]

It looks like some log-likelihood under the null is `-inf`. Is this some standard numerical errors that has a standard way to get around?

[2018-05-09 14:28] stephens999 commented on #35
i looked into it. This happens because we have designed only to preserve numerical precision when comparing between models that are competitive with the "best" model. If the null is not competitive we lose precision. Here Inf is not a bad indication of the BF, it means that exp(log10bf) is Inf to numerical precision. But we could indeed do better with a different design if it mattered.
The key is

[2018-05-10 12:59] stephens999 commented on #35
@gaow i'll deal with this

[2018-05-10 13:09] gaow commented on #35
Thank you @stephens999 for having identified the problem and to handle it! It would be nice to deal with it if the cost is not that big.

[2018-05-10 13:09] stephens999 commented on #35
please try it out!

[2018-05-10 13:13] gaow commented on #35
Thank you @stephens999 it works on that example, and certainly helped distinguishing large BF's:

[code]

[2018-05-10 13:13] #35 closed

[2018-06-14 16:28] gaow opened #37 "Data-driven priors based on betahat or z-scores"
Currently [this line](https://github.com/stephenslab/mashr/blob/c4e0063604175835619b312342517bb60a60abbb/R/data2cov.R#L16) gives a warning when it appears betahat is used to compute the data-driven matrices. But the message is ambiguous and does not read like any recommendation.

Should we choose for the users one way or another, and hide this message?

[2018-06-14 16:32] #22 closed

[2018-06-14 16:33] gaow commented on #10
We will use `flashr` to replace SFA.

[2018-06-14 16:33] #10 closed

[2018-06-14 16:33] gaow commented on #6
Duplicate of #19

[2018-06-14 16:33] #6 closed

[2018-06-14 17:43] stephens999 commented on #37
This was a note to myself to remind me to think harder about this issue....
Which I have not yet done! I agree it is confusing to users. Let's remove
the warning and keep this issue open?

On Thu, Jun 14, 2018, 11:28 gaow <notifications@github.com> wrote:

[2018-06-17 20:26] gaow opened #38 "Migrate more mash paper plots to mashr package"
As suggested by a couple of users, it is of interest for people to reproduce plots [on this page](https://stephenslab.github.io/gtexresults/gtex.html) without having to follow these vignettes as is. One user specifically suggested that we should make them plot functions.

[2018-08-03 22:31] willwerscheid opened #41 "maybe warn user if data matrix is oriented wrongly"
I've lost count of how many times I've sent `mash_set_data` a 44 x 16000 matrix instead of a 16000 x 44 matrix and had to force close Rstudio as it does godknowswhat with my transposed data. Maybe a friendly warning to the user would be helpful if p > n?

[2018-09-20 06:57] lukeholman opened #42 "error: chol() decomposition failed"
Sometimes when running mash, it prints this error to the console hundreds of times, yet mash seems to finish just fine and produce an apparently sensible output. As a new user it's unclear if I should worry about this or what causes it, and ideally I'd just like one error message! Can post more data and code later, assuming you haven't seen this already?

[2018-09-20 07:05] lukeholman commented on #42
Ahhh this error occurs when feeding `mash()` a canonical matrix that is not acceptable. Due to a typo I had passed it a matrix that is not "positive definite" or whatever you call it, like this:

    matrix(c(rep(1,8), rep(0,8)), nrow = 4, ncol = 4)

Maybe an extra input check to guard against user error?

[2018-09-20 12:03] stephens999 commented on #42
thanks @lukeholman - good idea! can you provide a minimal reproducible example so we can test we fix your specific case?

[2018-09-20 14:43] pcarbo commented on #42
@stephens999 I think the example he gave above is sufficient, although if I understand correctly, a matrix need not be positive definite (e.g., the matrix of all ones), but it does need to be positive semi-definite? @lukeholman Your matrix here is not symmetric, which is the main issue.

@gaow Do we currently have any checks for the `Ulist` argument?

[2018-09-20 15:52] stephens999 commented on #42
I agree that I think I understand the problem.  But I would still like an
example!
It is a good practice.... one sometimes guesses wrong about what a users
problem is.

On Thu, Sep 20, 2018 at 9:44 AM Peter Carbonetto <notifications@github.com>
wrote:

[2018-09-21 05:05] lukeholman commented on #42
Sure, here's an example:

    set.seed(1)
    simdata <- simple_sims(500,5,1)
    U.bad <- list(matrix(c(rep(1,10), rep(0,10)), nrow = 5, ncol = 5))
    m.c <- mash(mash_set_data(simdata$Bhat, simdata$Shat), U.bad)

FYI I'm pretty sure I have also seen it when using ED matrices, which should not be asymmetric

[2018-09-21 07:24] lukeholman opened #43 "Idea about pairwise sign sharing"
Hey,

I like the idea behind `get_pairwise_sharing()` a lot: it's very useful to be able to ask "What proportion of effects have the same sign for each pair of conditions?". One thing that's not ideal about this function is that one has to specify an arbitrary LFSR threshold, and the threshold chosen can greatly influence the results.

So, I wrote a function that I hope removes this limitation. If

[2018-09-21 14:12] stephens999 commented on #43
it is a nice idea, and thanks for sharing. I agree with the goal. But your expression
[code]
assumes that the effects are independent in the posterior, which they are not.
(The posterior for any pair of effects is a mixture of bivariate normal distributions.)

In principle one could do those computations for this posterior,
and so take account of the correlations...
but it would be a bit of work.

[2018-09-22 03:07] lukeholman opened #44 "Apparent bug when using outputlevel = 3"
Reproduce it with:
[code]

This gives the output:
[code]

I had a quick look, and I think the bug can be traced to `compute_posterior_matrices()`, specifically this part where the dim names are assigned:

[code]

When one selects `outputlevel = 3`, the final element of the list `posterior_matrices` is a 3D array (rather than a matrix like the other elements), and so R doesn't like it when one trie

[2018-09-22 03:33] gaow commented on #44
Thank you @lukeholman for reporting with a reproducible example! The bug has been fixed in current `master` (along with #42 , `mashr` version 0.2-13).

[2018-09-22 03:41] lukeholman commented on #43
Thank you, that makes sense!

I had another quick look, and couldn't immediately see how to get the posterior samples out of a mash object. The following assumes that there IS a posterior of some sort hidden in the function, which is used to generate all the useful things in a mash result, but the posterior is not returned, presumably in the interests of saving memory (sorry if I have got this wro

[2018-09-22 13:29] stephens999 commented on #43
thanks @lukeholman both for this and your general enthusiasm! We are excited to have
enthusiastic users!

Yes, it is not immediately obvious how to get posterior samples out of mash. We will have to dive
in to the internals to do this. Basically you are right: we don't save the full posteriors due to memory.
We compute the full posterior for each effect (p) one at a time, and just save things like

[2018-09-22 13:48] stephens999 commented on #43
@lukeholman  @zouyuxin is going to look into implementing the posterior sampling

[2018-09-22 14:07] #44 closed

[2018-09-22 20:05] pcarbo commented on #42
@gaow Any updates on this Issue? I made some recommendations on Slack. I can post them here if that would be more convenient.

[2018-09-22 20:36] pcarbo commented on #42
@gaow I'm having trouble understanding how you implemented the check for a spd matrix, but it isn't stopping when I provide an indefinite matrix. Here's an example:

[code]

[2018-09-22 20:38] gaow commented on #42
@pcarbo i think we agreed to allow for indefinite matrix.

[2018-09-22 20:46] pcarbo commented on #42
@gaow You're right. So this is a different issue, because this is the output I get when running this example:

[code]

So looks like you need to suppress the `chol` error messages.

[2018-09-23 01:55] lukeholman commented on #43
Very happy to hear! I think this will be the key test for the paper I'm working on (a multi-trait GWAS).

While you're here (and in the interests of not creating too many issues), I was also wondering what you think of using the output of multivariate GEMMA with mashr? The mv approach has some clear advantages (e.g. better precision on the effect size estimates if the traits are correlated), but I

[2018-09-23 03:11] pcarbo commented on #43
@lukeholman I think it would make more sense to combine non-multivariate (single-phenotype) GEMMA with mashr.

[2018-09-23 10:42] gaow opened #45 "Prune identical / similar matrices in `Ulist`"
Just in case users customized input are like our canonical ones -- this can happen for example when some matrix decomposition methods gives back canonical matrices (eg FLASH). The problem is that they are likely not numerically identical. So how do we want to prune "similar" covariances?

Reasons I think we want to do is are 1) save computation 2) allow for easier interpretation of weights on each

[2018-09-23 13:37] pcarbo commented on #45
@gaow If you have two very similar covariance matrices, I would expect that the weight for one of these matrices would be close to zero.

[2018-09-23 15:33] stephens999 commented on #45
this does not seem like a priority to me

On Sun, Sep 23, 2018 at 8:37 AM Peter Carbonetto <notifications@github.com>
wrote:

[2018-09-23 15:41] stephens999 commented on #43
I agree - you cannot put *posterior* estimates into mash. you have to
put bhat and standard errors.
It (mash) then accounts for sharing and will output the more precise
estimates you desire.
The main advantage of mash over mvGEMMA are that
it can estimate prior weights on different multivariate models, so it
is more flexible.

Matthew
On Sat, Sep 22, 2018 at 10:11 PM Peter Carbonetto
<notification

[2018-09-23 16:54] stephens999 commented on #42
My suggestion was not to bother checking for this case (symmetric and square, but not a covariance matrix) because it seems pretty far fetched. The chol errors seem enough to me. But we should not suppress them! Either leave them and say this is good enough check, or put in a more thorough try catch and exit.

[2018-09-23 20:07] pcarbo commented on #42
@gaow @stephens999 Apologies, again I was not thinking clearly about this error.

Looking in to this error more carefully, I think that this example is useful  as it may point to a bug in the likelihood computation code---perhaps this is a bug that would only occur in "edge" cases, which is why we had not  encountered it before.

I modified the example above slightly to use the R likelihood comput

[2018-09-23 20:30] gaow commented on #42
@pcarbo that is what I'm saying that "we need a check down the line", but I'm not sure about "where" down the line. If we check and quit, it may make more sense to check `V + w_lU_k` (or maybe `V + U_k` is enough?) for PSD and quite before feeding into `dmvnorm`. Otherwise we can just wrap that error message to a nicer one and let it continue.

[2018-09-23 20:50] pcarbo commented on #42
@gaow I believe this is where the error first occurred, so this seems like the right place to check.

[2018-09-24 01:32] stephens999 commented on #42
To me I am not convinced this is worth our time. Chol already correctly
reports the error. And in the worst case where the user ignores the error
these matrices are ignored because they produce -inf likelihood.

On Sun, Sep 23, 2018, 15:50 Peter Carbonetto <notifications@github.com>
wrote:

[2018-09-24 15:43] pcarbo commented on #42
I didn't meant it to be complicated. I pushed the suggested improvement, which now outputs a warning when some columns of the likelihood matrix have non-finite values:

[code]

@gaow Feel free to revise my code.

@gaow I also adjusted the dmvnorm calls in the R code to make sure that non-spd matrices result in `-Inf` likelihoods, although not sure that was necessary. It looks like the Rcpp code al

[2018-10-04 06:57] lukeholman commented on #42
Hey there, just reaffirming that I very often get this chol() warning when running mashr using matrices generated by `cov_ed` (following the 2nd vignette). Maybe these matrices can end up non-SPD sometimes?

Here are the matrices I'm putting in: NB that printed warning message that `cov_ed` caused a decrease in log likelihood. As a naive user, I am not sure what this message is telling me. Maybe t

[2018-10-04 11:29] pcarbo commented on #42
@lukeholman Can you check that the weights (pi's) corresponding to these components are zero? They should be. (@gaow This might be a good test to include, if you don't have that already.)

@gaow Is there a simple way to determine the relationship between the mixture components and the scale factors / covariance matrices?

SPD = symmetric positive definite (at least that's what it should mean), whi

[2018-10-04 13:11] stephens999 commented on #42
the warning is misleading to use SPD since the matrices do not need to be positive definite.
Only symmetric positive semi-definite.

it looks like the problem is with the ED routine... ideally we should improve the routine!

[2018-10-04 15:15] pcarbo commented on #42
@stephens999 I thought it was pretty clear because I'm referring to the covariance matrices for the individual mixture components, but if you have suggestions for making the message more clear, I'm happy to incorporate your suggestions.

[2018-10-04 17:06] stephens999 commented on #42
the mixture components in the prior (U) or the marginal likelihood (U+V) ?

[2018-10-04 17:07] pcarbo commented on #42
@stephens999 Mixture components in the marginal likelihood.

This also relates to the question I had (above) for Gao:

[2018-10-04 17:17] stephens999 commented on #42
what I was saying is that in mashr when we refer to "covariance matrices" we usually mean in the prior, not in the marginal likelihood. So this usage is confusing.

[2018-10-04 17:32] stephens999 commented on #42
how about just "invalid covariance matrices"

this is vaguer, but less technical, and in any case we don't actually currently check whether
V+U is spd or not...

(I'm particularly trying to avoid anything that might inadvertently
suggest to the user that the Us have to be SPD,
since they do not and indeed most of our canonical Us are not SPD!)

[2018-10-04 17:40] pcarbo commented on #42
@stephens999 Okay! Changed.

I agree, and I wasn't sure how to achieve that in the warning message.

V+U is spd or not...

That is true, but when we obtain infinite likelihoods it is most likely because the U + V matrices are not spd, hence the warning.

[2018-10-04 22:09] stephens999 commented on #17
I'm closign this issue as dealt with

[2018-10-04 22:09] #17 closed

[2018-10-04 22:10] stephens999 commented on #9
i'm closing this for now. going to start a different issue on superceding ED

[2018-10-04 22:10] #9 closed

[2018-10-04 22:11] stephens999 commented on #2
this is done

[2018-10-04 22:11] #2 closed

[2018-10-04 22:15] stephens999 opened #48 "migrating away from the need for ED"
I would like to try to move away from the need for ED.

The main reason we had ED was because, for example the empirical covariance
matrix does not take account of the measurement error. PC-based methods
also do not take account of the measurement error formally, but they do have some
robustness to this because the measurement error should not be in the top PCs (assuming
the measurements are not t

[2018-10-05 01:15] lukeholman commented on #42
Whoops, sorry I clicked the wrong thing and 'closed' the issue, when trying to reply to @pcarbo. Not sure how to re-open it (the button says "Open new issue") so I'm just going to leave it to avoid doing more damage.

You asked "Can you check that the weights (pi's) corresponding to these components are zero? They should be. ", and the answer is yes:

[code]

[2018-11-05 20:26] gaow opened #49 "Document accessor functions in `mash` call documentation"
At least we can make a list of these functions in `mashr::mash` documentation, if not showing them in the build-in examples.

[2018-11-08 17:01] zouyuxin commented on #43
@lukeholman I implement the sampling and the vignette is here: https://stephenslab.github.io/mashr/articles/mash_sampling.html

[2018-11-09 05:51] lukeholman commented on #43
This looks amazing, many thanks!! I will look into it further as soon as I can, but from the vignette it looks like exactly what I had in mind.

[2018-11-21 16:11] pcarbo opened #50 "Update license info to account for incorporation of Extreme Deconvolution code"
Jo Bovy uses a different license, I believe (maybe MIT). Take care of this once we are happy with the new setup that incorporates Extreme Deconvolution.

[2018-11-21 16:16] pcarbo opened #51 "Fix non-portable C code from Extreme Deconvolution"
These warnings should be fixed at some point:

[code]

[2018-11-21 16:25] pcarbo opened #52 "Makevars (and Makevars.win) should be portable"
This warning should be fixed. (The simplest solution is to just list all the filenames by hand.)

[code]

[2018-11-21 16:30] gaow commented on #52
Hmm this is interesting. Where did you get that warning?

We can certainly type in all files instead of using wildcard ... but the difficult lines are:

[code]

do you have a happier solution? I've briefly glanced at using `autoconf` but I am not sure how exactly it works with Rcpp ...

[2018-11-21 18:15] pcarbo commented on #52
Fixed in commit 83158e7.

[2018-11-21 18:15] #52 closed

[2018-11-21 18:22] gaow commented on #51
Should be easy to address, now that you are starting to touch Bovy's code (which I've avoided to do earlier). Basically we do not need these I/O related features so we should simply 1) removing these files and 2) identifying where in other codes they are required and remove the relevant chunks -- should be minimal.

[2018-11-21 18:23] pcarbo commented on #51
@gaow You seem more confident than me. Do you want to give it a try?

[2018-11-21 18:29] pcarbo commented on #52
I agree, it is better to put in a different folder, but in any case we will make it clear that mashr includes code from Jo Bovy (with a license, etc).

Yes, I forgot to do that. Thanks.

[2018-11-21 18:55] pcarbo commented on #51
@gaow Not quite:

[code]

[2018-11-21 19:34] #51 closed

[2018-11-21 19:45] pcarbo opened #53 "Update installation instructions in README"

[2018-11-21 19:46] pcarbo opened #54 "Get Travis CI & Appveyor working again"
This will most likely involve revising the configuration to install GSL.

[2018-11-21 19:46] pcarbo opened #55 "Update citation("mashr")"
We can do this once the _Nature Genetics_ paper is publicly available.

[2018-11-21 19:47] gaow commented on #54
@pcarbo do you know if installing `RcppGSL` will automatically install usable GSL libraries to link to? Would be nice to find it out with those CI's.

[2018-11-21 19:48] pcarbo commented on #54
It does not install GSL.

[2018-11-21 19:49] pcarbo commented on #54
Note it is confusing because `RcppGSL` from CRAN can be installed without GSL; I suspect this is because it is statically linked to the GSL libraries by the CRAN people.

[2018-11-24 20:06] surbut opened #56 "Correct README"
We no longer need to install Extreme Deconvolution

[2018-11-24 22:07] #56 closed

[2018-11-24 22:09] pcarbo commented on #54
Travis CI is working now. @gaow says he will attempt to get Appveyor working. We wish him luck.

[2018-11-25 04:44] gaow commented on #54
No luck for Appveyor for now. I might make more progress given a Windows machine to test it and apply [some hacks](https://stackoverflow.com/questions/23640088/setting-up-rcpp-gsl-for-windows). It is otherwise hard to work it out. But it does not bother me to claim that Windows users are responsible to figure out gsl installation on their own in order to use mashr.

[2018-11-26 21:31] pcarbo commented on #54
@gaow I'm closing this, but feel free to re-open it if you prefer.

[2018-11-26 21:31] #54 closed

[2018-11-27 19:52] gaow opened #58 "Milestone 1.0 features to freeze"
## Recent changes to the package

As previously discussed offline, here I summarize changes made since summer for consideration of a cran release:

1. Linear transformation for posterior (for common baseline application), changes to both `mash` call and functions to compute posterior matrices: [1](https://github.com/stephenslab/mashr/blob/f649010173efa34ed69ce0bd40a2f4f9cdcb28a6/R/mash.R#L44), [2]

[2018-11-27 19:56] pcarbo commented on #58
That all sounds fine to me. (I have no strong opinions here.)

@gaow I think this is okay as long as there is an option to not set the seed (e.g., with `seed = NULL`).

@gaow Maybe you can attempt to tackle Issue #49, and after that I will review documentation & vignettes?

[2018-11-27 20:02] gaow commented on #58
@pcarbo sounds good. I do want to make some changes to posterior output object anyways (though the relevant get-functions should remain same interface which is the point).

[2019-04-03 17:10] lzhangUT opened #60 "unable to install mashr on windows"
[code]

My R version:

[code]

[2019-04-03 17:34] gaow commented on #60
@lzhangUT could you make sure that `gsl` is installed on your mingw system before trying to install the package? Currently we do not provide official support (nor do we have sufficient knowledge) for Windows though in principle it should work if all requirements are satisfied. The only tricky one is `gsl`.

Down the line maybe we can create a conda-forge recipe for  `mashr` so at least Windows use

[2019-04-03 17:54] pcarbo commented on #60
@lzhangUT To echo what Gao said, it looks like the RcppGSL package has not been installed properly. I would take a look at the package documentation [here](https://cran.r-project.org/package=RcppGSL) and figure out what is going on (actually I'm not certain that a missing GSL is the issue here).

[2019-04-03 17:57] lzhangUT commented on #60
I did, both gsl and RcppGSL packages,
the same error messages.

[2019-04-03 18:07] gaow commented on #60
From your error prompt:

It seems your system is not configured to point to the right path of GSL even though you claim it is properly installed (and I believe you!). I do not have any specific knowledge how the GSL installation behaves in `mingw` and how to fix this issue, but the big picture idea is that you've got to configure your environment variable to make sure the GSL header directory is i

[2019-04-03 18:22] pcarbo commented on #60
I think this relates to our difficulties in getting Appveyor working for mashr; I was unable to get RcppGSL to recognize the installed GSL. I'm afraid I can't offer any advice on this, but at least we have isolated the issue! Please let us know if you find a solution (it could actually be useful for us as well).

[2019-04-23 11:46] ard329 opened #61 "Equal effects components"
Is there a way to extract the effects (for me, the genes) that comprise the "equal effects" condition in the mixture proportions plot? I'm looking to compare genes with equal/shared effects to region-specific genes.

[2019-04-24 02:33] gaow commented on #61
The quantity `posterior_weights` should have the information. For example:

[code]

you get:

[code]

Then you'll have to aggregate `equal_effects.*` (add them up). Note that we do advice against aggregating and interpreting posterior weights like this, because the MASH data-driven mixture is not meant to be identifiable for each component. This is also why we do not provide an interface in the pa

[2019-04-24 02:49] pcarbo commented on #61
@ard329 Could you please clarify what you are looking for (with an example maybe)? We had some debate as to what you were actually asking. Do you want posterior effect estimates?

[2019-04-24 16:56] ard329 commented on #61
I am working with gene expression data across different brain regions. My mixture proportions plot includes null effects, an effect for each region, equal effects, etc. I am looking to figure out which genes exhibit the most equal/shared effects across regions, to compare them to genes that are most region-specific. Is there a way to do this using mashr?

[2019-04-24 17:04] gaow commented on #61
@ard329 I think you can try it along the lines I suggested [above](https://github.com/stephenslab/mashr/issues/61#issuecomment-486044007) for starters -- the `posterior_weights` matrix you get has rows being your genes, and columns being weights on each type of effect. you just have to aggregate those representing shared effects vs those representing specific effects.

[2019-04-24 21:04] vplagnol opened #62 "Data dimension issue with usepointmass = FALSE"
I am trying to use the `usepointmass = FALSE` option in mashr.
Following the vignette using training/test datasets,  I see

[code]
So far so good. But... my next call is:

[code]

The issue being the 955/954 discrepancy. But I cannot specify `usepointmass = FALSE` and a fixed g either:

[code]

It seems to me something is off in the code? It may be an easy fix.

[2019-04-24 22:12] vplagnol commented on #62
As an update simply commenting this line
```    ##if(!missing(usepointmass)){stop("cannot supply both g and usepointmass")}```
allows the code to run but I still get lfsr close to 1, which I think should not be happening if the point mass on 0 is not used.
So while the modified code runs, I suspect the `usepointmass` behaviour is actually not happening.

[2019-04-25 02:52] gaow commented on #62
@vplagnol sorry see the patch above -- would you test again? It should have fixed it.

[2019-04-25 05:21] vplagnol commented on #62
Thanks @gaow . This indeed makes the code run, so many thanks for this.

Now does mashr do what I thought it would? Not sure.
I have:
[code]

And I run:
[code]

I still see very high values for lfsr:
[code]
I thought that such lfsr would be bound to 0.5 in the absence of a point mass.
And similarly, the posterior means are still very much shrunk to 0.

I thought that not using the point mass would

[2019-04-26 01:20] stephens999 commented on #62
What is g$grid?

I wonder if it includes a zero anyway...?

On Wed, Apr 24, 2019, 22:21 Vincent Plagnol <notifications@github.com>
wrote:

[2019-04-30 22:19] ard329 commented on #61
I may have an older version of the package, but there is not a posterior weights matrix stored in the mash object. Is there another way to obtain this matrix?

[2019-04-30 22:26] gaow commented on #61
@ard329 I believe you have an older version of it ... because it should be outputted [see here](https://github.com/stephenslab/mashr/blob/c59365868d5ce768a23a266e0ea7e4180d31dfb3/R/mash.R#L191). If you want to avoid running it all over after upgrading to the new version, you can hack [this code for posterior calculation](https://github.com/stephenslab/mashr/blob/c59365868d5ce768a23a266e0ea7e4180d3

[2019-05-17 19:50] ard329 commented on #61
Thank you for your feedback - this has been very helpful!

Is there a way to also extract lfsr for the posterior means the equal_effects?

[2019-05-27 13:41] ard329 commented on #61
To follow up on this, I was able to extract the posterior weights for the equal effects terms, but I am looking to extract lsfr's in order to look at genes with lsfr<0.05 (similar to condition specific effects)

[2019-05-30 13:43] hillarykoch opened #64 "obtaining both terms going into the local false sign rate calculation"
This issue is more related to my own personal interest-

I have developed a statistical test that I am now trying to apply to some real data. I am trying it with a couple of different models, but one of those includes mashr. While it has been very easy to use mashr to fit a model, in order to apply my statistical test, I need both terms that go into computing the local false sign rate for any obse

[2019-05-30 14:43] gaow commented on #64
@hillarykoch thanks for the message. We do have the information you are looking for, it's just we do not have an interface to extract them. Take the minimal working example below:

[code]

You see here `lfdr` is the probability of \beta = 0, `NegativeProb` is probability of \beta < 0. We can potentially add some `get_*` function to extract them formally, but for now you can work out the quantities

[2019-06-03 23:56] hillarykoch commented on #64
Yes, thank you! I just did

[code]

I used ```fdr``` and ```NegativeProb``` and tested against the ```lfsr``` output by mash. It all seems to agree.

Thanks again!

[2019-06-04 16:57] pcarbo opened #65 "Input argument "A" with only one row sometimes results in an error"
This worked fine:

[code]

But this gave me an error:

[code]

[2019-07-12 21:22] katiaplopes opened #67 "ERROR: matrix is singular"
I've started applying mashR for eQTL analysis following this website (https://stephenslab.github.io/mashr/articles/eQTL_outline.html) but I got the following error when I try to run the code for Data driven covariances:

U.ed = cov_ed(data.strong, U.pca)

**gsl: lu.c:266: ERROR: matrix is singular
Default GSL error handler invoked.
Aborted**

We are using all eQTLs found with fastQTL nominal pass

[2019-07-12 21:31] pcarbo commented on #67
@katiaplopes Does `cov_ed` for you in the [vignette](https://stephenslab.github.io/mashr/articles/intro_mash_dd.html)?

[2019-07-12 21:41] katiaplopes commented on #67
I've just tried and I got this error. It couldn't be memory because we are using 1TB.

*** caught segfault ***
address 0xc0, cause 'memory not mapped'

Traceback:
1: extreme_deconvolution_rcpp(ydata, tycovar, projection, logweights,     xamp, xmean, unlist(lapply(xcovar, t)), fixamp, fixmean,     fixcovar, tol, maxiter, likeonly, w, clog, splitnmerge, clog2,     noprojection, diagerrors, noweight)

[2019-07-12 21:43] gaow commented on #67
@katiaplopes I suggest you try use even less effects to learn the sharing pattern from data -- it does not need 4M eQTLs to learn it well. At least a smaller strong set will rule out the memory problem and let's see if the GSL complaint still persists.

[2019-07-12 21:45] katiaplopes commented on #67
Thank you a lot @gaow . I'll try it!

[2019-08-28 07:48] lukeholman commented on #42
Hi there,

I'm back working on this data again after about a year! Last time, I think you made some changes based on the issues in this thread, and I updated mashr to try again. The analysis I ran before no longer runs (same code), and so I started trouble-shooting.

Basically when running `mash()` on some data (beta and SE from a GWAS of 4 traits) using the canonical mode, I get this error (I cro

[2019-08-29 02:39] lukeholman commented on #42
Thanks for the quick replies. I ran with mixIP method as suggested, and get this new error:

[code]

I can supply some data and code soon if you like, assuming this new error does not pinpoint the problem?

[2019-08-29 12:38] pcarbo commented on #42
@lukeholman This tells us that the error is not specific to the solver (as I suspected) but we would need a runnable example to determine the root cause.

[2019-08-30 01:21] lukeholman commented on #42
Hi there,

When I was preparing the data to reply to this thread, I found that there was one row of my data for which the beta and SE estimate was NA - when I removed that one problematic SNP locus,  the mashr problems disappeared. So I reckon the best fix for this would be to add a check to `mash_set_data()` and/or `mash()` for NAs, NaNs etc in the input data, and return a warning or an error, so

[2019-08-30 03:18] pcarbo commented on #42
Glad you solved your problem. And great suggestion!

[2019-09-11 07:52] lukeholman opened #68 "Understanding the "posterior weights" in mash output"
Hello again,

My question is in this rep-rex:

[code]

It's not documented in `?mash`, but I guess that the `posterior_weights` object in the output of mash gives the probability that effect i comes from the j'th canonical matrix. Is that right? Each row of `posterior_weights` sums to one, so I figure that I can interpret them this way: as the posterior estimate of the probability that it belongs

[2019-09-11 09:04] zouyuxin commented on #68
@lukeholman Thanks for reaching out. In `mash` model, the mixture components are covariance-scale combinations. For equal effect covariance matrix, the model includes different scales of it, and this is the reason you have `equal_effects.8` and `equal_effects.9`. The posterior weight at `equal_effects.8` means the posterior probability that effect i belongs to the 'equal effect' matrix with the 8t

[2019-09-11 21:33] stephens999 commented on #68
is `mashr::get_estimated_pi`
also relevant?

On Wed, Sep 11, 2019 at 4:04 AM Yuxin Zou <notifications@github.com> wrote:

[2019-09-11 21:34] stephens999 commented on #68
oh wait, sorry that is for prior weights... not posterior!

On Wed, Sep 11, 2019 at 4:32 PM Matthew Stephens <stephens999@gmail.com>
wrote:

[2019-10-04 15:47] QinqinHuang opened #69 "Complaint about matrix size"
Hi,

I was trying to fit the mash model, and had this error:
[code]

I was trying to identify shared eQTL signals across four conditions. The full eQTL summary datasets have almost 40 million tests. I guess the issue is not with the tool but my matrix is too large. Should I do LD thinning and remove some redundant tests/SNPs? What are the sizes that are likely to be handled by the mash model?

Man

[2019-10-04 15:53] gaow commented on #69
A quick check, could you try 'algorithm = "R" ' and see what happens?

[2019-10-04 15:58] QinqinHuang commented on #69
Thanks! Do you mean just run
    algorithm = "R"
in my R session before fitting the model?

I tried and It still gave me the same error.

[2019-10-04 17:23] gaow commented on #69
@QinqinHuang I meant to say using `algorithm = "R"` in `mash()` function call, `mash(..., algorithm = "R", ...)` but I suspect R cannot handle that large data either. It would be good if you can reduce the number. There is no need to use that many tests to build MASH model. In our eQTL application we used <20,000 to learn patterns of sharing ('strong' set) and <40,000 to learn the mixture model ('

[2019-10-04 17:52] QinqinHuang commented on #69
Hi Gao,

It seems to do the trick. I will give it some more time.

Thanks! I just realised that I don't really need to use my full data (whole-genome cis-eQTL scan). I can restrict the input to loci with eQTL signals or tests involving eGenes.

Thanks a lot for your help!

[2019-10-04 20:52] stephens999 commented on #69
you must be careful with restricting input ...
see the eqtl vignette:
https://github.com/stephenslab/mashr/blob/master/vignettes/eQTL_outline.Rmd

On Fri, Oct 4, 2019 at 12:52 PM Qinqin Huang <notifications@github.com>
wrote:

[2019-10-04 22:23] QinqinHuang commented on #69
Thanks! That is very useful. I must admit that didn't read all the vignettes though...
I was using top eQTL SNPs for eGenes in any condition as the "strong set" and didn't do a random subsampling. I was just wondering, if I use all tests (all SNPs within the 2-Mb cis window including the non-significant ones) of eGenes, would there be enough null tests for mash to be trained on? Even we focus on o

[2019-10-04 23:50] gaow commented on #69
@QinqinHuang in GTEx analysis in MASH paper, we set up the  "strong" set as the gene-snp pair having smallest p-value in a gene for <20,000 genes. We then randomly pick 2 to 3 SNPs from each gene to come up with a "random" set of <40,000 SNPs to learn the mixture model. That was enough for our eQTL application. We have a pipeline to do it:

https://github.com/stephenslab/gtexresults/blob/master/wo

[2019-10-04 23:50] #69 closed

[2019-10-04 23:54] gaow opened #70 "C++ plugin cannot handle large input"
Separate from #69 : when input to MASH is large,
[code]

Apparently [the problem comes from `armadillo`](https://stackoverflow.com/questions/23573667/armadillo-requested-size-is-too-large) and the solution seems to involve changing compile flags.

[2019-10-07 09:16] QinqinHuang commented on #69
Thank you both for your help!
I am sorry – I was a bit confused because I didn't realise that I could fit the model using a small random subset of the tests, and then estimate posterior probabilities for **other tests** (strong set or any other subsets) that are not necessarily in the previous random subset.

[2019-11-08 10:01] kazusyoshiishigaki opened #71 "How to control number of CPUs in mash"
Hi,

I am using mash for a large eQTL dataset where I have more than 30 conditions. I am running mash using around 100K rows x 30 conditions. I am testing one job interactively in a computing node.
[code]
I noticed that this process uses more than 20 CPUs. Is there any way to specifically control the number of CPUs when we use mash?

[2019-11-08 14:06] pcarbo commented on #71
@kazusyoshiishigaki mash is using multithreaded matrix operations. So it would depend on the BLAS numerical library that R is using in your installation.

There is also an `mc.cores` argument to `calc_lik_matrix`, but the default is only 1 core.

[2020-01-10 23:49] t-silvers opened #72 "Performance benchmarking?"
Hi, Related to #71 and #23, I'm using mash on a large eQTL analysis and have some performance questions.

Have you performed any benchmarking (execution time, CPU time, max RAM, etc.) on differently composed data sets + analyses? Apologies if I've missed it somewhere in the paper or repo.

Thanks!

[2020-01-17 15:02] annacuomo opened #73 "trouble installing mashr"
seems to require ashr, and needs mixsqp when installing ashr

ERROR: dependency ‘mixsqp’ is not available for package ‘ashr’

R.Version is 3.6.2

installation is done as follows:

install.packages("devtools")
devtools::install_github("stephenslab/mashr@v0.2-11")

[2020-01-17 15:10] pcarbo commented on #73
@annacuomo Apologies, and thanks for your interest in mashr. For now, pleasee install mixsqp from [GitHub](https://github.com/stephenslab/mixsqp):

[code]

[2020-01-17 16:01] annacuomo commented on #73
Thanks,

But I get an error installing that as well?

clang: error: unsupported option '-fopenmp'
make: *** [RcppExports.o] Error 1
ERROR: compilation failed for package ‘mixsqp’

[2020-01-17 18:29] pcarbo commented on #73
@annacuomo You will need to compile the mixsqp package from source while it is unavailable on CRAN. For this, you will need to download the appropriate C/Fortran compilers, and edit your `Makevars` file. Fortunately, the R website has good instructions for how to do this; e.g., if you have a Mac (which I think you do based on the error message), the instructions are given [here](https://cran.r-pro

[2020-01-28 15:30] willwerscheid opened #74 "Provide way to pass opt control params along in mash_1by1"
and other mash functions as well? See `ashr` issue here https://github.com/stephens999/ashr/issues/76#issuecomment-579043646

[2020-01-31 18:19] pcarbo commented on #73
@annacuomo mixsqp is now back on CRAN, and we are working on getting ashr up there. I'm closing this ticket. Apologies for the inconvenience.

[2020-01-31 18:19] #73 closed

[2020-02-16 20:52] nicolerg commented on #71
Here's how I've been able to control the number of cores being used by `mash`, i.e. by telling BLAS how many cores to use, as @pcarbo mentioned (here, N CPUs = 12).
[code]

[2020-03-10 19:52] sciencety commented on #19
Hi, I have some  quick questions. I have a matrix of ~100000x50, how long does it take to run mash? I wish there were some prompts about percent completion of the run.
I also have lot of missing data in my phenotypes, how do I handle them?

[2020-03-10 20:21] gaow commented on #19
@sciencety you don't have to use all of the data to fit MASH model, i.e., to find patterns of association using a strong set of SNPs, then find mixture weights using a set of random SNPs. See our example here:

https://stephenslab.github.io/mashr/articles/eQTL_outline.html

Once you obtain the MASH model you can computer posterior for any SNPs of choice. And it can be paralleled so if you do that

[2020-03-13 20:17] mural123 opened #75 "Error in Fitting mash model"
Hi, I am trying to fit mash model to my data from association studies. I am following all the steps described in https://stephenslab.github.io/mashr/articles/eQTL_outline.html. I am running into a particular issue mentioned below. I am assuming it has to do with the large matrix of data I have, as the subset did work just fine but when I increase the number of conditions I encounter this problem.

[2020-03-13 20:36] mural123 commented on #75
Hi, I am trying to fit mash model to my data from association studies. I am following all the steps described in https://stephenslab.github.io/mashr/articles/eQTL_outline.html. I am running into a particular issue mentioned below. I am assuming it has to do with the large matrix of data I have, as the subset did work just fine but when I increase the number of conditions I encounter this problem.

[2020-03-16 21:37] willwerscheid commented on #75
I'm pretty sure this is coming from `mixsqp` -- I independently came across the same error. I've opened an issue over there: https://github.com/stephenslab/mixsqp/issues/39.

[2020-03-17 03:07] pcarbo commented on #75
@mural123 @willwerscheid Please try running `mashr` again with the latest version of mixsqp.

[2020-03-26 20:16] mural123 commented on #75
Hi @pcarbo Thank you for fixing the issue. Fitting mash model works now but now I am facing new error. I tried reducing number of random subset and also increased the memory but it did not help and I am getting this error. Can you please explain me what could be the issue here and how to fix it?

 *** caught segfault ***
address (nil), cause 'memory not mapped'

Traceback:
 1: extreme_deconvolutio

[2020-03-27 16:22] gaow commented on #75
@mural123 this might be related to #76 which another user has submitted a patch that i just merged. Would you mind updating to the current `master` of `mashr` and give it a go?

[2020-03-28 12:41] YushaLiu commented on #75
@mural123 @gaow I had exactly the same error on my dataset, but with pull #76 this error disappears now. Please update to the latest version of mashr and try again.

[2020-03-28 12:55] pcarbo commented on #75
@gaow What was the fix?

[2020-03-28 13:00] gaow commented on #75
@pcarbo here is the patch:

https://github.com/stephenslab/mashr/commit/026377a74701bdeff16c6283c79e6156d37ca70b

and my comment to the PR:

https://github.com/stephenslab/mashr/pull/76#issuecomment-605090892

But if @YushaLiu ran into the problem then her data would be a great test case for your new ED work -- we should keep that in mind!

[2020-03-28 13:17] #42 closed

[2020-03-28 13:18] gaow commented on #75
@mural123 I'll consider the issue resolved but please feel free to reopen the ticket or use a new one if you have other issues.

[2020-03-28 13:18] #75 closed

[2020-04-26 00:03] DongyueXie opened #77 "cov_pca function reports error if subset is of length 1"
`U.pca = cov_pca(mash_data.L,2,subset=1)`

Error in f %*% d^2 : non-conformable arguments

[2020-04-26 14:44] gaow commented on #77
Thanks @DongyueXie . Should we add some minimum sample size check here? It does not make sense to estimate correlation using just one sample ... and it does not make sense either perhaps too small sample size? @stephens999 @pcarbo what do you suggest that we should limit the sample size to (`subset` parameter) for this application? Greater or equals to 3?

[2020-04-26 14:50] DongyueXie commented on #77
yeah. I think adding minimum sample size check works. This case is rare but happens.

It happened when i applied mash to kind of 'null' data so subset should be very small.

[2020-05-19 18:47] Young-Sook opened #79 "error: inv_sympd(): matrix is singular or not positive definite"
I ran mashr to my data and I am having the same error regardless of types of covariance matrix (whether I use only canonical or only data-driven). My data has 43,416 regions (rows) and four cells (4 columns).

==================================================================
Here is the error message.
m = mash(data, U.c)
 - Computing 43416 x 352 likelihood matrix.

error: chol(): decomposition fa

[2020-05-19 20:37] gaow commented on #79
@Young-Sook as a test, what if you follow this page:

https://stephenslab.github.io/mashr/articles/eQTL_outline.html

to use a smaller random set for `mash` fit and see if  the problem persists?

Also unrelated but possibly important, it is recommended to account for correlation structure using some estimates as also detailed on the page above. It would be useful to see what happens if you follow

[2020-05-19 21:17] Young-Sook commented on #79
I didn't have any error when I followed the script in the page https://stephenslab.github.io/mashr/articles/eQTL_outline.html.

Even after randomly subsetting the data, I still have the same error message. Below is my code.

==================================================================
m.1by1 = mash_1by1(mash_set_data(data_mean, data_std))
strong.subset = get_significant_results(m.1by1, 0.000

[2020-05-19 21:44] zouyuxin commented on #79
Could you check the values for data_std[strong.subset,]? What's the minimum value in the standard error matrix?

[2020-05-20 01:03] Young-Sook commented on #79
It is 0. Would that be a problem? If so, what would you recommend to do?

[2020-05-20 01:16] gaow commented on #79
@Young-Sook We should have a check in `mash_set_data` for zero elements in standard errors ([see this line](https://github.com/stephenslab/mashr/blob/207178ec0d9b6206e036cfdb93204a9fef4bb474/R/set_data.R#L81)).  It seems you are on an older version of `mashr`. Could you update to current `master` and try again to see if the error is captured?

It depends on how that happens in the first place. Cou

[2020-05-20 01:17] zouyuxin commented on #79
yes, this causes the error. This makes the covariance matrix singular. In mash_set_data, we checked for exact 0. I think in your case, it is a very small number but not exact 0 (==0 gives FALSE).

[2020-05-20 07:25] Neleor opened #80 "adding extra confounders?"
We are trying to use your tool to detect eQTLs in single-cell data, where we have done initial eQTL mapping across different conditions.
In our dataset these conditions are different stimulation conditions at different timepoints. The eQTLs found may be condition-specific, which is why a normal meta-analysis would not suffice.
Our dataset contains both 10x version 2 and 10x version 3 samples, whic

[2020-05-20 12:58] Young-Sook commented on #79
@gaow When I do 'sessionInfo()', I find the below output.

other attached packages:
[1] mashr_0.2.21 ashr_2.2-50

I believe this is the latest update of mashr, but let me know if that is not.

@zouyuxin I checked ==0 command, and it gave me 'TRUE' which means the standard error value is exactly zero.

[2020-05-20 13:10] stephens999 commented on #80
Let me start by saying mashr  needs z scores that are well calibrated, and
this can be challenging for single cell data,
so you need to be careful. We are currently experimenting with various
pipelines here to see which yield good results,
but don't have enough experience to give a recommendation yet.

Regarding your specific issue, the way I would try to do it is to analyze
the data in each stimu

[2020-05-20 13:13] gaow commented on #79
Thanks @Young-Sook what you have seems to be a version we released last March. Installing with

[code]

should give the `master` branch. But we (@pcarbo ) are now working on getting the updated package to cran. We should have an updated very soon if you want to check back later. For now, you may want to manually fix your input data anyways just to make sure you are fully aware of potential issues

[2020-05-20 14:16] Neleor commented on #80
I was using the betas and SEs for the chemistries and conditions separately (I understood from the vignettes that this was preferred to the Z-scores), but I'll try the combined Z-scores per condition. Thank you.

[2020-05-20 15:17] zouyuxin commented on #79
@gaow Adding a zero_tol parameter would definitely help. `.Machine$double.eps` is enough for usual mash analysis, but it's not enough for mashcommonbaseline. In mashcommonbaseline, the residual covariance is L S_j V S_j L^T, L is R-1 by R matrix. For example,
[code]
which is singular. 1+.Machine$double.eps^2 == 1 gives TRUE.

[2020-05-20 15:53] pcarbo commented on #79
I don't have the full picture here, but you could somehow avoid directly forming `S2` and `L %*% S2 %*% t(L)` that would help the situation somewhat --- I mean, you could deal with matrices that have eigenvalues closer to zero.

[2020-05-20 16:19] zouyuxin commented on #79
@pcarbo
https://github.com/stephenslab/mashr/blob/master/R/set_data.R#L264
this is how I compute it right now. Are you suggesting compute this using another way?

[2020-05-20 17:19] pcarbo commented on #79
No, there isn't much you can do about how you can compute Sigma. But perhaps you can somehow rework the computation to avoid a Cholesky factorization of Sigma. Or if that is unavoidable, then the best you can do is provide an informative error message. There is the more general question about how to handle poorly scaled data to avoid numerical issues — I don't think this is something we have looke

[2020-05-21 15:51] gaow commented on #79
For the time being I added a check to call values zero if they are smaller than or equal to .Machine$double.eps (2.2E-16). It can be changed using `zero_check_tol`. I think the problem with using projection matrix is a separate issue that is best resolved in mash common baseline implementation as @pcarbo also implies above. Let's close this ticket for now and use other tickets to discuss when we h

[2020-05-21 15:51] #79 closed

[2020-05-22 19:08] Young-Sook opened #81 "warning message in cov_ed"
Hi, I am having another issue with running mashr. I am using common control. When I use 'cov_ed' function (U.ed = cov_ed(data.strong, U.pca)), I have a warning message below.
[code]

I think the warning message occurs because data$V is a 5 by 5 matrix while data$Shat[i, ] has 4 columns. I am assuming this is a bug that happens due to not controlling for the common control case? This is my script.

[2020-05-22 20:02] zouyuxin commented on #81
Thanks for catching the bug. We ignored a case in cov_ed. Please update the package.

[2020-05-22 20:28] Young-Sook commented on #81
Thanks for the quick response. I just reinstalled mashr with the following command, but I still have the same error.
[code]

The fixed script was not updated in the package for somehow?

[2020-05-22 20:38] zouyuxin commented on #81
sorry, please try again.

[2020-05-22 20:55] Young-Sook commented on #81
I now works! Thanks a lot!

[2020-05-25 16:59] #81 closed

[2020-05-27 08:15] Neleor commented on #80
I have tried using the Z-scores, but we are seeing very high concordance between the significance of the effects using mashr and the significance when running a 'regular' meta-analysis across all stimulations for one timepoint (3) or all stimulations across all timepoints (6). We believe that there should at least be some stimulation-specific eQTLs. Is there a lower limit for the mashr algorithm t

[2020-05-27 12:40] gaow commented on #80
@Neleor assuming everything works correctly, then the `mashr` mixture prior you provide should already allow for the possibility to detect stimulation specific eQTLs. If the posterior inference of effects (weights on each component as well as effect size inference for each SNP) mostly suggest shared rather than stimulate specific patterns, it means your data doesn't strongly favor stimulate specif

[2020-06-17 02:50] gaow opened #82 "A test failed on cran comparing R and C++ result"
Currently our unit test on cran has this issue under `OpenBLAS`

![image](https://user-images.githubusercontent.com/917985/84849581-a366f900-b023-11ea-9658-528a14b77352.png)

the error message reads:

[code]

It is using an R version that is "under development", and we cannot reproduce it on our end (using R 3.6.3 for my case). I keep track of this issue here for future reference.

[2020-06-17 02:58] pcarbo commented on #82
Also could not reproduce with R 4.0.0 + OpenBLAS on midway2.

[2020-07-31 16:38] mural123 commented on #71
How to use multiple cores with "mashr", without them being idle. I have been trying and it seems mashr dosent use all the cores. Mashr takes forever to complete the job and hit the maximum time limit permitted by our computing service to run the job and thus stop.

[2020-07-31 16:54] gaow commented on #71
@mural123 which function in mashr are you referring to? Could you update to the current `master` branch or the current cran release for mashr and try again? We have improved openMP codes to resolve some compatibility issues with older versions of gcc / openMP. That might solve your problem.

[2020-07-31 16:56] mural123 commented on #71
Hi Dr. Gaow, I am refering to fitting the mash model. I did update mashr and tried the same.
m = mash(data.random, Ulist = c(U.ed,U.c), outputlevel = 1)
 - Computing 90000 x 8576 likelihood matrix.

[2020-07-31 17:00] gaow commented on #71
@mural123 could you make sure you have openMP properly installed -- to do so, could you reinstall mashr and show us here the screen output as the package is being compiled and configured? We'll be able to tell you if your openMP has been configured during mashr install.

[2020-08-11 15:34] arider2 opened #84 "What does a negative local false sign rate mean?"
Hi,

When I run get_lfsr on my mash analysis I see some negative local false sign rates. Does this indicate some mistake by me or is their a meaning to these?

See below in the first column:

`x <- get_lfsr(m2)`
`(x) <- c(1:ncol(x))`
`(x) <- c(1:nrow(x))`
`rownames(x) <- paste0("effect_",rownames(x))`
`colnames(x) <- paste0("con_",colnames(x))`
`y <- as.data.frame(x)`
`y <- y[order(y$con_1, decrea

[2020-08-11 18:17] stephens999 commented on #84
Do you have the latest version of ashr? This problem should be fixed in
latest version.

On Tue, Aug 11, 2020, 10:34 arider2 <notifications@github.com> wrote:

[2020-08-12 09:55] arider2 commented on #84
if the latest version is 2.2-47 then yes I do.

[2020-08-12 10:39] arider2 commented on #84
Thanks for your quick reply. I installed from CRAN so I don't think I'm up to date. I'll install from GitHub and try again.

[2020-08-12 11:59] arider2 commented on #84
Installing from GitHub resolved the issue. Thank you.

[2020-08-12 11:59] #84 closed

[2020-08-25 20:53] resztak opened #85 "mashr posterior mean and SD all equal to 0 on sc eQTL results"
I'm running mash on FastQTL eQTL mapping results (chr10 for simplicity) following the workflow at https://stephenslab.github.io/mashr/articles/intro_mash.html but no matter if I'm using canonical or data-driven covariance matrices (or both), I get all posterior mean and SD equal to 0 (and all local false sign rate = 1).
Here's my code and preprocessed input data (removed all lines with any NAs/Inf

[2020-08-25 20:55] gaow commented on #85
@resztak are the input summary data also zero for betahat and sebetahat values -- could you verify that is not the case?

[2020-08-25 21:06] resztak commented on #85
[code]

[2020-08-25 21:10] pcarbo commented on #85
@resztak  Plotting the z-scores, at first glance it looks very much like "null" data:

[code]

<img width="605" alt="histogram" src="https://user-images.githubusercontent.com/1503904/91228226-86b70380-e6ed-11ea-9684-2d7b8bdae257.png">

[2020-08-25 21:21] resztak commented on #85
![QQ_Tcell_CTRL_PC1-4](https://user-images.githubusercontent.com/28160669/91229019-32188600-e6f7-11ea-8a19-c9bfa2823d4b.png)
Maybe chr10 is not representative..? This is a QQplot for all tests for one of the conditions in the example. I'll investigate on my end.

[2020-08-25 21:52] rpique commented on #85
@pcarbo I think we may have a problem on how we try to get the SE. fastQTL wasn't providing them, and we calculated them manually, and I have have done something wrong.  I will go over this with Justyna.

[2020-08-26 19:09] resztak commented on #85
Okay, so rpique was right - we calculated the SE wrong (it was sqrt of SE instead) :sweat_smile:
Now I'm getting mean, sd and lfsr estimates from mash (some significant). Sorry I have bothered you!

[2020-08-26 19:09] #85 closed

[2020-09-28 16:23] arider2 opened #86 "Pairwise sharing - why does effect only have to be significant in one condition?"
Hello,

This isn't so much an issue but a general question - why does an effect (i.e eQTL) only have to be significant (i.e. lfsr 0.05) in one condition for it to be classed as shared between the conditions? Is it too stringent to ask for an effect to be significant in both? Does this underestimate sharing?

Thank you.

[2020-09-28 16:29] stephens999 commented on #86
sorry I don't understand the question. What do you mean by "classed as
shared between the conditions"?
Is there a particular function or part of the documentation you
are referring to?

On Mon, Sep 28, 2020 at 11:23 AM arider2 <notifications@github.com> wrote:

[2020-09-28 16:50] arider2 commented on #86
Sorry for the lack of clarity.

I'm referring to the get_pairwise_sharing function, which calculates the proportion of effects that are shared between each pair of conditions.

If I understand this function correctly, for each pair of conditions it first identifies the effects that are significant in at least one of the two conditions, where significance is defined by the user with the lfsr_thresh

[2020-09-28 17:55] stephens999 commented on #86
you are correct, it first identifies the effects that are significant in at
least one of the two conditions, where significance is defined by the user
with the lfsr_thresh parameter.  Let's call this number N.

Then assesses which of these N effects are shared. It does that by either
looking at shared sign (S) or shared magnitude (M).

Then the sharing is computed as S/N or M/N.
So N is the denomi

[2020-10-07 19:58] resztak opened #87 "mash() takes weeks to compute posterior matrices"
I'm running mash on eQTL mapping results (~4M tests*5 conditions). mash(), specifically "Computing posterior matrices" has been running for over two weeks on 80GB of memory. Is it expected to take this long? Is there a way to speed it up?
Here's my code and preprocessed input data for five conditions: http://genome.grid.wayne.edu/SCAIP_mashr_github/Tcell_mash-ready-data.Rd ./mashr_Tcell.R ./mashR_

[2020-10-07 20:07] gaow commented on #87
@resztak It should not take long to fit mash model using "top" and "random" subset of effects, as was the case with Urbut 2019 where we used ~20K top and ~40K random effects. Applying the model learned to obtain posterior on 4M effects can take long time if you do it on a desktop computer. What we have done in practice is to partition the 4M effects into batches of, say 40K effects, and use an HPC

[2020-10-09 14:35] resztak commented on #87
Thanks! I tried using `mash_compute_posterior_matrices(g=m.ed,data=data.subset)` on a subset of 10k tests, and on pre-fit `m.ed=mash(data, U.ed,outputlevel=1)` it takes 12 seconds, while 100k tests take ~17min. I should be able to get enough cores to chop up the data into 100k chunks and get it done quickly.

[2020-10-09 14:43] stephens999 commented on #87
does anyone have any idea why does it take more than 10x longer for 100k vs 10k?
The computation should scale linearly with number of tests so if 10k takes 12s, 100k should take about 120s,
not 17min. Am I missing something?

[2020-10-09 14:48] gaow commented on #87
@stephens999 good question we have to reproduce and see what's going on. @resztak just to double check what model you are using (so we can focus on the right section of code) -- when you set mash data with `mash_set_data`, did you use `alpha=0` or `alpha=1` (default is 0)?

[2020-10-09 14:49] pcarbo commented on #87
mash can be memory-intensive. My first guess is that it is using a lot of memory and perhaps using virtual memory which can be very, very low. @resztak Can you tell us more about your computing setup? How much memory (RAM) do you have?

[2020-10-09 15:04] resztak commented on #87
I am running this on the cluster, so the 80GB is solely dedicated to the mash process. I haven't changed the default alpha when setting the data. Should I have?

[2020-10-09 18:21] stephens999 commented on #87
that sounds like plenty of memory for 10k or 100k effects...

@resztak do you repeatedly see that running 100k takes much longer than ten lots of 10K run sequentially?
That seems weird...

[2020-10-11 01:12] resztak commented on #87
Yes, the 12s/10k and ~17min/100k is repeatable, even on less memory.

[2020-10-11 02:36] pcarbo commented on #87
@resztak If you are able to share with us your data & code, I will try to reproduce your timings on our computing systems.

[2020-10-11 17:05] resztak commented on #87
Sure! http://genome.grid.wayne.edu/SCAIP_mashr_github/10-11-2020/

[2020-10-13 02:37] pcarbo commented on #87
@resztak Thanks for sharing this.

@gaow I was able to replicate the issue. More disconcerning, I found that the runtime is increasing quadratically in the number of observations (rows of `data$Bhat`). The computations should be linear in the sample size, right? The bulk of the computation appears to be happening within `compute_posterior_matrices`.

Let me know if there are any other tests I can

[2020-10-13 02:52] gaow commented on #87
Yes. The loop [implemented here](https://github.com/stephenslab/mashr/blob/b8e427378c1c2b432187226f6f18da1ac4dd53b2/src/mash.h#L1058) is straightfoward loop over sample size ...

@pcarbo One test we can try is to use `alogrithm='R'` see if we can reproduce it, and if so, we can line profile memory in R. Otherwise, the only suspicious C++ code might be the openMP based parallelization that we can t

[2020-10-13 02:53] pcarbo commented on #87
Okay, I will take a look.

FYI, here is the simplified script I ended up using to generate my timings above:

[code]

[2020-10-20 01:47] pcarbo commented on #87
@gaow I created a new `no-openmp` branch to perform additional tests. Even after removing all the OpenMP code, I still see the same sharp rise in runtime of `mash_compute_posterior_matrices` as the number of samples goes up:

[code]

So clearly this "bug" is not due to OpenMP.

[2021-02-23 21:00] william-denault opened #89 "Running mash on non centered z-scores"
It is more a question than an issue.
I am running mash on the output of two Epigenome-wide association studies (EWAS), where I study the effect of a treatment on DNAm level in the mother (EWAS1) and in the fetus (EWAS2). It is expected that the distribution of the effects of the treatment on DNA methylation is not centered. The treatment generally increases the  DNAm in the mother and decreases it

[2021-02-23 23:51] stephens999 commented on #89
well, you could center the z scores in each group (subtract the mean)
before applying mashr. Then you would be getting mashr to
estimate the difference in the effect from the average effect.

However, I am not convinced the results will change much, because it does not look like the means
are very different from 0 on the scale of things...

More worrying to me are the green points you highlight
th

[2021-02-26 12:05] william-denault commented on #89
Hello,

I checked my code, I actually used beta and standard error.

My script here

`beta <- cbind(dfadj$T1_minus_T0,dfmadj$T1_minus_T0)
shat <- cbind(dfadj$sd, dfmadj$sd)
data     = mash_set_data(beta,shat, alpha=1)
U.c      = cov_canonical(data)
res.mash = mash(data,U.c)
`

I will rerun it with centered zscores and let you you know if I see this phenomenon again.

[2021-02-26 14:17] stephens999 commented on #89
so I guess it is important to emphasize that the green points are those that mashr believes to have a much stronger effect (beta) in mother than child, and not those that are "mother specific".

[2021-03-03 12:39] ghost opened #90 "mash with multi-level conditions"
Hello. Great package - however, I have a question about defining conditions.

In our experiment expression data and genotype data were obtained from 50 patients commencing drug treatment, The samples were obtained from three tissues (skin, blood, and synovium) at three time points (baseline, week 2, and week 4). Therefore, for each patient we have data for 9 "conditions":

Skin - baseline
Skin - w

[2021-03-03 15:35] stephens999 commented on #90
great question! With only 9 total conditions I would do them all at once.

if you had many more time points and many more tissues I might be more tempted by separate analyses to
manage complexity and focus the analyses on the specific comparisons you are interested in. But 9 total is small
enough I would just do them all at once.

[2021-03-03 15:55] crvcheet21 commented on #90
Thank you! Sounds reasonable.

[2021-03-05 22:42] DongyueXie opened #91 "Inflated false positives caused by using rank 1 prior covariance matrix"
We observe inflated false positives when using rank 1 prior covariance matrix in mash. The reason is due to the break down of lfsr. (The assumption of rank-1 is not explicit specified in the mash model, but the ED algorithm preserves the rank
of initializations. The initializations are generated using PCA hence most of them are rank-1
matrices. The TEEM algorithm does not preserve the rank but it

[2021-03-08 03:37] gaow commented on #91
@DongyueXie we confirm that the aforementioned problem contributed to the inflated lfsr in multivariate fine-mapping with mixture prior. In my simulations ED prior has inflated lfsr but when you use canonical prior with uniform weights there is no issue. This is consistent with your observation. @zouyuxin has verified in her simulations the same with ED based prior, but additionally  in her case e

[2021-03-08 03:47] DongyueXie commented on #91
@gaow Hi Gao, I need more information of "even canonical prior has an inflation", maybe an example.

[2021-03-08 12:35] william-denault commented on #89
Thank you very much, for helping me to interpret the output.

[2021-03-08 12:35] #89 closed

[2021-03-08 14:05] zouyuxin commented on #91
I checked some examples with canonical prior. It turns out not relevant to the ED rank deficient covariance problem.

[2021-03-08 14:48] stephens999 commented on #91
although it was not the explanation in this case, I guess the canonical matrix of all 1s could cause this problem in principle.
The other rank1 canonical matrices (singletons) should not have this problem because of their sparsity.

I think short-term solution is for our group, in our analyses,  to modify all r1 matrices input to mashr (or mvSusie) by adding a small diagonal term.

In the long ter

[2021-04-01 16:52] Alice-MacQueen commented on #87
I am also having this issue and found independently/redundantly that I could track the slowdown to the code of `compute_posterior_matrices`.

There is so much matrix math in this function, and as you say, its runtime ideally would scale linearly by rows. Mash is also memory intensive. Would you consider employing the `big_apply` or `big_parallelize` functions from the `bigstatsr` package (https://

[2021-04-02 22:14] stephens999 commented on #87
we could consider that, but first we should probably track down the source
of this issue because computation should not increase quadratically with
number of tests....

On Thu, Apr 1, 2021 at 11:52 AM Alice MacQueen ***@***.***>
wrote:

[2021-04-02 22:57] Alice-MacQueen commented on #87
That makes sense. Any reason not to use something like the following code chunk in the meantime? It subsets a larger object with effects and standard errors, calculates posterior weights for each subset, then combines the objects into a mash object at the end.

A bit of a kludge, but using `all.equal` on the sub-components doesn't find any differences for marker data computed using subsets of diff

[2021-04-07 10:43] crvcheet21 opened #92 "Local false sign rate of 0?"
Hi,

Should I be suspicious of local false sign rates of zero? I noticed some of these when getting Inf values from -log10(lfsr).

Apologies if I've missed some documentation on this.

Thank you!

[2021-04-07 12:05] pcarbo commented on #92
No, LFSRs of zero are (numerically) indistinguishable from very small LFSRs. This is similar to the situation for p-value calculations, where it can be difficult to distinguish between a p-value of zero and a very small p-value.

[2021-04-07 12:35] crvcheet21 commented on #92
Thanks!

[2021-04-07 12:35] #92 closed

[2021-04-07 21:11] stephens999 opened #93 "maybe we should not output lfdr?"
in results we do output a matrix of lfdr values. These will tend to be sensitive to misestimated covariance
matrices, and generally we would not recommend users to use them - they should use the lfsr.
The vignettes all encourage use of lfsr, and never mention lfdr but people nonetheless will see the lfdr if

they look at names(results).
Maybe we should not even be outputting them, at least by defa

[2021-04-08 01:54] pcarbo commented on #93
@stephens999 Shouldn't we be consistent with what `ashr` does? `ashr::ash` outputs both `lfdr` and `lfsr` [and `help(ash)` does not provide guidance on this].

[2021-04-08 03:52] stephens999 commented on #93
the issue i'm worrying about is that lfdr is even more sensitive to prior for mash than for ash... so in ash lfdr is arguably
often ok. for mash i would tend never to use it.

[2021-04-08 14:07] pcarbo commented on #93
@stephens999 I added a new argument, `mash(..., output_lfdr = FALSE)`. This is what `help(mash)` now says:

[code]

[2021-04-08 16:38] stephens999 commented on #93
looks great, thank you!

On Thu, Apr 8, 2021 at 9:08 AM Peter Carbonetto ***@***.***>
wrote:

[2021-04-08 17:12] #93 closed

[2021-04-15 21:51] gaow commented on #87
Thanks to pointer from @pcarbo on a coding mistake I made, this issue has now been fixed in version 0.2.45 (current `master`).

[2021-04-15 21:51] #87 closed

[2021-04-15 21:53] #82 closed

[2021-04-15 23:54] #67 closed

[2021-04-16 03:25] gaow commented on #72
Taking an example from #87,

[code]

so we have J = 4 million effects over R = 5 conditions.

To fit MASH model,

[code]

[code]

Peak memory is about 32GB.

In our paper (Urbut et al 2019) we fitted MASH with J < 100K effects (sufficient for ) over R ~= 50 conditions. The time complexity is linear in J and quadratic in R so the above example can give you some idea on how much time it may take to

[2021-04-16 03:25] #72 closed

[2021-04-16 16:47] pcarbo opened #94 "segfault when cov_ed log file cannot be created or written to"
When there is a failure writing to the log file when using the `logfile` option in `cov_ed`, the error looks like this:

[code]

We should add a check for log file failures in `cov_ed` so that we don't end up with a segfault—i.e., we should handle this error more gracefully.

[2021-04-16 17:30] gaow commented on #94
@pcarbo where does that failure come from in the first place? The path does not exist, or filename too long? I never ran into this in my applications (which has long file names generated from bioinformatics workflows) so perhaps this is also machine dependent?

I'm not sure if we want to fix it at this point because we'll use `udr` to replace this implementation anyways. I think many people are st

[2021-04-16 17:33] pcarbo commented on #94
I agree it is not high priority, but I thought it would be good to keep track of this issue here.

[2021-04-19 18:43] jakejh opened #95 "speed up sampling from the posterior"
In my application of mashr, Bhat and Shat are matrices with ~20,000 rows and 5-10 columns. At this size, generating just 2 samples from the posterior -- using `mash_compute_posterior_matrices` -- takes ~10 minutes. Reducing Bhat and Shat to ~4,000 rows reduces the time to ~2 minutes.

When I try to set `algorithm.version = 'Rcpp'`, I get an error message that the sampling method is not implemented

[2021-04-19 21:37] jakejh commented on #95
If it helps, I have been using both the canonical and data-driven covariances, but I am considering switching to only data-driven, as the canonical covariances don't have such a clear interpretation in my case, and using only data-driven makes the `mash` step considerably faster.

[2021-04-19 21:49] jakejh commented on #95
I'm using 0.2.38 from cran. Should I try the version on github?

[2021-04-19 21:58] pcarbo commented on #95
Yes, please try the github version—we have made several major improvements.

[2021-04-19 21:59] gaow commented on #95
@jakejh we made some improvements in 0.2.45 for posterior computation speed with the Rcpp version. But indeed the posterior samples feature are only available in the R version.

Frankly it's a matter of one of us (@pcarbo or myself) working on it but not sure if we have the energy to get to it soon. May I ask what applications you have for sampling from the posterior (to make sure it is the best w

[2021-04-19 22:08] jakejh commented on #95
Ok, I'll try the github version.

In my application, the coefficients are for a spline fit. We care more about the properties of the spline curve (and their corresponding uncertainties) than about the posterior S.D.s for the individual coefficients. I talked with Matthew last week, and he suggested sampling from the posterior.

[2021-04-19 23:22] stephens999 commented on #95
before going to non-r solutions, I'm puzzled about the performance.
I would have expected the computation to be doing a bunch of matrix
inversions etc.
Once those were done I would have expected generating 10k samples to take
basically the same time as 1 sample.
Am I missing something?

On Mon, Apr 19, 2021 at 5:08 PM Jake Hughey ***@***.***>
wrote:

[2021-04-20 00:19] jakejh commented on #95
Whoops, I hadn't actually tried generating different numbers of posterior samples yet. Using mashr 0.2.45 on a Bhat with 20,000 rows and 4 columns, generating 100 posterior samples and 1,000 posterior samples took about the same amount of time, 6.5 minutes. That's actually not terrible in my case, since calculating the properties of the spline fit for all 20,000 features currently takes ~30 sec pe

[2021-05-03 15:58] gaow commented on #60
GSL installation on Linux (via apt-get) and on Mac (via homebrew) is straightforward. Here are some steps that worked on Mac without using homebrew and to verify the paths can be recognized.

First, download the desired version of `gsl.tar.gz` file from the source: https://www.gnu.org/software/gsl/
The latest version is `gsl-2.6`. (As of 05/03/2021)

Then, change directory into the location of unz

[2021-05-03 15:58] #60 closed

[2021-05-17 21:43] #95 closed

[2021-05-28 18:54] jakejh commented on #95
Just as an update, our typical use case will now involve calculating the properties of the spline fit for only a small subset (<100) of features, which makes the time to generate the posterior samples less trivial. mashr works great as is, but if you ever get to implement the posterior sampling in C++, I'd love it even more. 😁

[2021-06-21 22:48] pekjoonwu opened #96 "Bayes Factor calculation at the unit level"
Hi,

Thanks for developing this great tool for analyzing the data. I have a question more about comparing the results from mashr to the other methods such as Metasoft.

I am wondering when you compared the power in Figure 2 a, b panel with Metasoft, were you using the Bayes factor to test the global null so that both methods have significance measurement for unit level? If so, is there any functio

[2021-06-21 23:51] stephens999 commented on #96
yes that is what we did.

I notice that our documentation of the mash output is quite incomplete!
The log BF can be directly computed from the mash output (res.mash) by
res.mash$alt_loglik - res.mash$null_loglik
I believe this is log base e.

The threshold is up to you... not that easy to give a general answer to that.

[2021-06-22 02:34] pekjoonwu commented on #96
Thank you Matthew for the clarification!

Since I am not a Bayesian, I still have one question about the procedure. Specifically, did you guys treat the Bayes factor as an alternative option for p-value (ranking the Bayes factor for all the units from the biggest to the smallest) and then calculate the power and FDR like what we usually do with the p-value?

Best

[2021-06-22 02:44] pcarbo opened #97 "Document mash return value"
The documentation for the `mash` return value is largely incomplete. Currently we just have

[code]

[2021-06-22 18:16] stephens999 commented on #96
yes, to plot a curve like this all you need is a ranking. p values and BFs
both provide a ranking,
and the curves are just quantifying how effective that ranking is from
distinguishing the effects
and the non-effects. You could do this for any method
that provides a ranking, it doesn't have to be a p value or a BF....

On Mon, Jun 21, 2021 at 9:34 PM pekjoonwu ***@***.***> wrote:

[2021-07-19 15:49] stephens999 opened #98 "update docs for estimate_null_correlation"
can we document what this does by referencing @zouyuxin  thesis when this is finalized?
presumably it is using the ad hoc em algorithm there?
does it also return a complete mash fit? ie do you have to run mash on this afterwards?
We should add it to the vignette on dealing with correlations.

I also note the phrasing "under the null" is confusing because it suggests we are assuming the null,
but a

[2021-07-19 15:55] stephens999 opened #99 "mash_set_data docs"
Should the J in the docs for V be N?
so V is R x R x N if you want to supply observation-specific covariance matrix?

V_j is also a bit ambigous here... maybe use V[,,j] ?

[2021-07-19 20:25] anamariaUIC opened #100 "Multiple related phentypes & QTL summary stats"
Hello,

Do you recommend using this software for metabolite QTL summary statistics. In my scenario I have 3 related traits I am looking into in the same cohort and doing QTL analysis on each of them.

Thank you,
Ana

[2021-07-19 20:57] stephens999 commented on #100
yes, it should be appropriate

[2021-07-19 21:14] anamariaUIC commented on #100
Thank you so much for getting back to me! Would you recommend (in my scenario) using mvBIMBAM to perform multivariate association analysis in addition to the mashr analysis?

[2021-07-20 22:16] stephens999 commented on #100
I would just use mashr as it is now our preferred approach

[2021-09-15 23:27] hh622 opened #101 "The new function mash_estimate_corr_em does not work on mashr 0.2.50"
Hello authors, thank you for devloping the great package mashr!  I found that the mash_estimate_corr_em function does not work in the latest version of mashr 0.2.50. I have tried to run the R/est_cor.R script locally, it still did not work because it needed to call other functions. I am wondering that is because the mashr 0.2.50 does not include the newest functions or I did something wrong from m

[2021-09-16 00:15] stephens999 commented on #101
Can you say more about what you mean by "does not work"? Can you give an example with code and data of what you are running and what the error is?

Can you open a separate issue with other questions so we deal with one issue at a time? Thanks!

[2021-09-16 16:19] hh622 commented on #101
I was using an older version of mashr, and I encountered the error after I updated to version 0.2.50 but without restarting R. After restarting R, the function mash_estimate_corr_em works well. Sorry about that. I will post my second question separately. Thanks!

[2021-09-30 20:30] GabrielHoffman commented on #101
I am having the same issue when I install from CRAN.  It looks like the function `mash_estimate_corr_em()` is not being exported

[code]

[2021-09-30 21:05] pcarbo commented on #101
@GabrielHoffman Yes it appears that the version of the package on CRAN does not export this function. @GabrielHoffman can you please try installing `mashr` from GitHub instead?

[2021-09-30 21:08] GabrielHoffman commented on #101
Yeah, it works with the GitHub version

[2021-09-30 21:44] #101 closed

[2021-10-13 17:57] gaow commented on #70
@pcarbo yes I saw that, but did not think too much when our unit tests still pass. I agree this may be a valid concern as we don't know why armadillo chose to do that (a quick search did not answer it). Maybe let's wait for @jlboat to report back -- if it works I'll move it to another branch and ask people to use that in-house to test; if it does not work I'll revert?

[2021-10-13 19:21] jlboat commented on #70
Error in calc_lik_rcpp(t(data$Bhat), t(data$Shat), data$V, matrix(0, 0,  :
  std::bad_alloc
Calls: mash ... calc_relative_lik_matrix -> calc_lik_matrix -> calc_lik_rcpp
Timing stopped at: 9.963 1.71 11.71
Execution halted

[2021-10-13 19:34] jlboat commented on #70
And just to clarify, I believe this run had plenty of memory allocated:

JobName    Mem  CPUs   User         Walltime               %CPU    %MEM
mashr_old   372gb   16  jboatw2    04:58/160:00 ( 3%)    97%      21%
mashr_new  372gb  16  jboatw2    02:31/160:00 ( 2%)    97%      27%

Running mashr with ARMA_64BIT_WORD consistently ran with about 6% higher memory and did not appear to exceed the 372

[2021-10-19 01:43] arkyl opened #102 "multiple cohorts from the same tissue"
Hi,
Thanks much for the software.
I am wondering in case of multiple cohorts from the same tissue, what the best practice is. For example, 3 cohorts from tissue A, 2 cohorts from tissue B, and 1 cohort from tissue C: should I input 6 cohorts results to mash or should I do some combining work (such as meta analysis to get single result in each tissue) to input 3 tissue results to mash?

My other qu

[2021-10-19 02:49] arkyl commented on #102
Thanks for the quick reply. The cohorts are all from european descent. So I guess they can be regarded as the same population. The initial results from the different cohorts within the same tissue are indeed very similar, which is expected.

[2021-10-19 03:35] gaow commented on #102
So your z-scores in tissue C are expected to be smaller than that in tissue A, but the effect size estimate may be of a similar scale -- standard error of smaller samples will be larger, thus smaller z-scores. This may relevant to choosing between EE and EZ model (`alpha` parameter in documentation for details) in mash. We generally suggest trying both and use the one model that results in a large

[2022-01-24 12:08] ghost opened #103 "Covariates used for condition-by-condition analyses"
Hi,

Would it be a problem for mash if different covariates or different numbers of covariates were used in the condition-by-condition analyses?

For example, in an eQTL scenario where different numbers of expression principal components or PEER factors were used as covariates for each condition.

Thank you.

[2022-01-28 22:17] stephens999 commented on #103
the short answer is that this should not cause big problems
for mashr. It could impact interpretation of the coefficients being
estimated, but the estimates themselves
should remain reliable.

On Mon, Jan 24, 2022 at 6:08 AM crvcheet21 ***@***.***> wrote:

[2022-02-15 02:19] WangRong423 opened #104 "How to use mashr to estimate the change in some quantity measured in multiple conditions compared with different conditions"
Hi,stephenslab,thank you for providing a very useful tool.I have a question about how to use mashr to estimate the change in some quantity measured in multiple conditions compared with different conditions.I have observations at ten time points as ten conditions. Within a certain cell type, I want to know that each time point is most unique compared to the previous time point. eg,T1-T2,T3-T2,T4-T3

[2022-03-31 02:34] eweine opened #106 "Adding Nullbiased Weight to mash"
Hello,

I was recently experimenting with the "nullbiased" prior option in the `mash` function. I noticed that in many cases, setting `prior = "nullbiased"` did not substantially change the resulting estimates of the mixture components `pi`. I looked through the `ashr` package, and I noticed that in the `ash` function there is a parameter for the `nullweight`. I've created a [PR](https://github.co

[2022-04-19 23:16] eweine commented on #106
Fix with [PR](https://github.com/stephenslab/mashr/pull/105).

[2022-04-19 23:16] #106 closed

[2022-07-13 21:20] jmp448 opened #108 "Error when df is a matrix"
Hello,

Thank you for the great software! I am running into an error in `mash_set_data` when df is a matrix.

Reproducible example:
[code]

Error message:
`Error in if (!is.infinite(df)) { : the condition has length > 1`

I think this message used to be a warning in previous versions of R, and the first value would be used, but that still seems problematic in certain cases. I've created pull reque

[2022-07-14 01:59] pcarbo commented on #108
Thanks @jmp448!

[2022-07-14 01:59] #108 closed

[2022-10-14 19:16] arkyl opened #109 "can mashr be used in interaction terms"
Hi,
We were estimating association difference in a variable, by interaction term in linear model, in multiple tissues. I am wondering if the mashr can be used in beta and sd of the interaction term, for meta analysis of association difference in multiple tissues. Thanks a lot!
Yue

[2022-10-14 20:24] pcarbo commented on #109
@arkyl Yes, if you have estimates (and se's) of the interaction effect in multiple tissues mashr should be suitable for this analysis. (I'm not quite sure about the meta analysis part.)

[2022-10-14 23:45] arkyl commented on #109
Thanks very much for the quick reply! The meta analysis here simply means mashr analysis.

[2022-11-10 21:43] GabrielHoffman opened #110 "warning: solve(): system is singular (rcond: 1.34847e-17); attempting approx solution"
When I run this code from the man page for `mash_estimate_corr_em()`:
[code]

I get many lines saying
[code]
with very small `record` values.  This is a new warning that I didn't notice until recently.

# sessionInfo()
[code]

[2022-11-11 01:24] pcarbo commented on #110
@GabrielHoffman Can you install the latest version of mixsqp from GitHub, and make sure you have the latest version of RcppArmadillo installed?

[2022-11-11 15:18] GabrielHoffman commented on #110
Hi @pcarbo,
Thanks for the fix.  Can you push the new `mixsqp` to CRAN?

Best,
Gabriel

[2022-11-11 15:18] #110 closed

[2022-11-12 03:37] pcarbo commented on #110
Sure, I'll do that soon.

[2022-11-16 19:28] pcarbo commented on #110
@GabrielHoffman mixsqp has been updated on CRAN.